evolution/workflows/sofia-standalone.json
{
  "name": "Sofia Evolution - Standalone Lead Qualification",
  "meta": {
    "instanceId": "sofia-evolution-standalone",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "evolution-webhook",
      "name": "Evolution Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [220, 340],
      "webhookId": "sofia-evolution-webhook",
      "parameters": {
        "httpMethod": "POST",
        "path": "sofia-evolution",
        "options": {
          "responseMode": "onReceived",
          "responseCode": 200
        }
      },
      "typeVersion": 2
    },
    {
      "id": "filter-message-events",
      "name": "Is Message Event?",
      "type": "n8n-nodes-base.if",
      "position": [420, 340],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-message-event",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "filter-incoming",
      "name": "Is Incoming Message?",
      "type": "n8n-nodes-base.if",
      "position": [620, 340],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "not-from-me",
              "leftValue": "={{ $json.body.data?.key?.fromMe }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "normalize-payload",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "position": [820, 340],
      "parameters": {
        "jsCode": "// Normalize Evolution API payload\nconst webhookData = $input.first().json.body;\nconst data = webhookData.data || {};\nconst key = data.key || {};\nconst message = data.message || {};\n\n// Extract phone number from remoteJid\nconst remoteJid = key.remoteJid || '';\nconst phone = remoteJid\n  .replace('@s.whatsapp.net', '')\n  .replace('@c.us', '')\n  .replace('@g.us', '');\n\n// Determine message type and extract content\nlet messageType = 'unsupported';\nlet messageText = '';\nlet mediaData = null;\n\nif (message.conversation) {\n  messageType = 'text';\n  messageText = message.conversation;\n} else if (message.extendedTextMessage?.text) {\n  messageType = 'text';\n  messageText = message.extendedTextMessage.text;\n} else if (message.audioMessage) {\n  messageType = 'audio';\n  mediaData = message.audioMessage;\n} else if (message.videoMessage) {\n  messageType = 'video';\n  mediaData = message.videoMessage;\n} else if (message.imageMessage) {\n  messageType = 'image';\n  mediaData = message.imageMessage;\n} else if (message.documentMessage) {\n  messageType = 'document';\n  mediaData = message.documentMessage;\n} else if (message.stickerMessage) {\n  messageType = 'sticker';\n} else if (message.locationMessage) {\n  messageType = 'location';\n}\n\nreturn {\n  // Core message data\n  senderPhone: phone,\n  senderName: data.pushName || phone,\n  messageId: key.id,\n  messageType: messageType,\n  messageText: messageText,\n  timestamp: new Date((data.messageTimestamp || 0) * 1000).toISOString(),\n  \n  // For media messages\n  mediaData: mediaData,\n  originalMessage: data,\n  \n  // Instance info from webhook\n  instanceName: webhookData.instance || 'sofia-instance'\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "handle-message-types",
      "name": "Handle Message Types",
      "type": "n8n-nodes-base.switch",
      "position": [1020, 340],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "Text Message",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "text"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "Audio Message",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "audio"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "Video Message",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "video"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "Unsupported",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "or",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "image"
                  },
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "sticker"
                  },
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "document"
                  },
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "location"
                  },
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "unsupported"
                  }
                ]
              },
              "renameOutput": true
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 3.2
    },
    {
      "id": "reply-unsupported",
      "name": "Reply Unsupported Type",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1240, 520],
      "parameters": {
        "method": "POST",
        "url": "=https://evolution-api-production-9395.up.railway.app/message/sendText/whatsapp-teste",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Normalize Payload').item.json.senderPhone }}\",\n  \"text\": \"Ola! No momento, consigo processar mensagens de texto, audio e video. Por favor, envie sua pergunta em um desses formatos.\"\n}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "evolution-api-creds",
          "name": "Evolution API"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "prepare-text-for-agent",
      "name": "Prepare Text for Agent",
      "type": "n8n-nodes-base.code",
      "position": [1240, 340],
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nreturn {\n  text: data.messageText,\n  phone: data.senderPhone,\n  contactName: data.senderName,\n  instanceName: data.instanceName,\n  messageId: data.messageId,\n  messageType: data.messageType\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "download-audio",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1240, 680],
      "parameters": {
        "method": "POST",
        "url": "=https://evolution-api-production-9395.up.railway.app/chat/getBase64FromMediaMessage/whatsapp-teste",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {{ JSON.stringify($json.originalMessage.message) }},\n  \"convertToMp4\": false\n}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "evolution-api-creds",
          "name": "Evolution API"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "download-video",
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1240, 840],
      "parameters": {
        "method": "POST",
        "url": "=https://evolution-api-production-9395.up.railway.app/chat/getBase64FromMediaMessage/whatsapp-teste",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {{ JSON.stringify($json.originalMessage.message) }},\n  \"convertToMp4\": true\n}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "evolution-api-creds",
          "name": "Evolution API"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "convert-audio-to-binary",
      "name": "Convert Audio to Binary",
      "type": "n8n-nodes-base.code",
      "position": [1440, 680],
      "parameters": {
        "jsCode": "const base64Data = $input.first().json.base64;\nconst normalizedData = $('Normalize Payload').first().json;\n\nif (!base64Data) {\n  throw new Error('No base64 data received from Evolution API');\n}\n\n// Convert base64 to binary\nconst binaryData = Buffer.from(base64Data, 'base64');\n\n// Return with binary data attached\nreturn {\n  json: {\n    phone: normalizedData.senderPhone,\n    contactName: normalizedData.senderName,\n    instanceName: normalizedData.instanceName,\n    messageId: normalizedData.messageId,\n    messageType: 'audio'\n  },\n  binary: {\n    data: {\n      data: base64Data,\n      mimeType: 'audio/ogg',\n      fileName: 'audio.ogg'\n    }\n  }\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "convert-video-to-binary",
      "name": "Convert Video to Binary",
      "type": "n8n-nodes-base.code",
      "position": [1440, 840],
      "parameters": {
        "jsCode": "const base64Data = $input.first().json.base64;\nconst normalizedData = $('Normalize Payload').first().json;\n\nif (!base64Data) {\n  throw new Error('No base64 data received from Evolution API');\n}\n\nreturn {\n  json: {\n    phone: normalizedData.senderPhone,\n    contactName: normalizedData.senderName,\n    instanceName: normalizedData.instanceName,\n    messageId: normalizedData.messageId,\n    messageType: 'video'\n  },\n  binary: {\n    data: {\n      data: base64Data,\n      mimeType: 'video/mp4',\n      fileName: 'video.mp4'\n    }\n  }\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "transcribe-audio",
      "name": "Transcribe Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [1640, 680],
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "data",
        "options": {
          "language": "pt",
          "responseFormat": "text"
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "openai-creds",
          "name": "OpenAI"
        }
      },
      "typeVersion": 1.8
    },
    {
      "id": "transcribe-video",
      "name": "Transcribe Video",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [1640, 840],
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "data",
        "options": {
          "language": "pt",
          "responseFormat": "text"
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "openai-creds",
          "name": "OpenAI"
        }
      },
      "typeVersion": 1.8
    },
    {
      "id": "format-audio-transcription",
      "name": "Format Audio Transcription",
      "type": "n8n-nodes-base.code",
      "position": [1840, 680],
      "parameters": {
        "jsCode": "const transcription = $input.first().json.text || '';\nconst normalizedData = $('Normalize Payload').first().json;\n\nreturn {\n  text: `[Mensagem de Audio Transcrita]\\n\\n${transcription}`,\n  phone: normalizedData.senderPhone,\n  contactName: normalizedData.senderName,\n  instanceName: normalizedData.instanceName,\n  messageId: normalizedData.messageId,\n  messageType: 'audio_transcription'\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "format-video-transcription",
      "name": "Format Video Transcription",
      "type": "n8n-nodes-base.code",
      "position": [1840, 840],
      "parameters": {
        "jsCode": "const transcription = $input.first().json.text || '';\nconst normalizedData = $('Normalize Payload').first().json;\n\nreturn {\n  text: `[Mensagem de Video Transcrita]\\n\\n${transcription}`,\n  phone: normalizedData.senderPhone,\n  contactName: normalizedData.senderName,\n  instanceName: normalizedData.instanceName,\n  messageId: normalizedData.messageId,\n  messageType: 'video_transcription'\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "sofia-ai-agent",
      "name": "Sofia AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [1460, 340],
      "parameters": {
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "# Sofia - Assistente Virtual\n\nVoce e Sofia, assistente virtual de uma clinica de emagrecimento. Voce atende leads de Meta Ads quando o atendimento humano nao esta disponivel.\n\n## Contexto\n- Telefone: {{ $json.phone }}\n- Nome: {{ $json.contactName }}\n\n## Comportamento\n- Sempre se apresente como assistente virtual\n- Informe que o usuario pode solicitar atendimento humano a qualquer momento\n- Profissional, acolhedora, concisa\n- SEM emojis\n- Mensagens curtas (max 2 paragrafos)\n- Nunca seja insistente\n\n## Ferramenta RAG - IMPORTANTE\n**SEMPRE use query_knowledge_base para:**\n- Protocolos e tratamentos\n- Informacoes sobre a clinica\n- Precos e valores\n- Metodologia\n- Qualquer duvida tecnica ou institucional\n\nNunca invente informacoes.\n\n## Precos\n- Consulta (R$700): Pode mencionar apos gerar valor\n- Tratamento: Se perguntado, diga \"A partir de R$3.000 para protocolo de 1 mes\"\n- Para mais detalhes: \"O investimento varia conforme duracao e protocolo. Na consulta o medico avalia seu caso.\"\n\n## Dados a Coletar\nColete naturalmente: Nome, CPF, Email, CEP, Data nascimento, Como nos conheceu.\nIdade < 16: recuse educadamente.\n\n## Primeira Mensagem\n\"Ola! Sou a Sofia, assistente virtual da clinica. Estou aqui para ajudar com informacoes sobre nossos tratamentos e agendar sua consulta. Se preferir, pode solicitar atendimento humano a qualquer momento. Como posso ajudar?\"\n\n## Agendamento\nQuando interessado em agendar, peca:\n\"Para agendar, preciso de: Nome completo, CPF, Data de nascimento, Email, Endereco com CEP. Pode enviar como preferir.\"\n\nApos coletar (mesmo parcialmente apos 2 tentativas):\n\"Perfeito! Vou transferir para nossa equipe confirmar o horario.\n\n[DADOS_LEAD]\nNOME_COMPLETO: [dado ou 'Nao informado']\nTELEFONE: {{ $json.phone }}\nCPF: [dado ou 'Nao informado']\nDATA_NASCIMENTO: [dado ou 'Nao informado']\nEMAIL: [dado ou 'Nao informado']\nENDERECO: [dado ou 'Nao informado']\n[/DADOS_LEAD]\n[AGENDAR_CONSULTA]\"\n\n## Escalacao Humana [TRANSFERIR_HUMANO]\nEscale IMEDIATAMENTE quando:\n- Usuario solicita atendimento humano (qualquer variacao)\n- Gravidez/amamentacao\n- Condicoes serias (diabetes, cardiaco)\n- Usuario frustrado\n\n## Objecoes\n\"E caro\" -> \"Compreendo. O diferencial esta no acompanhamento continuo e retornos inclusos.\"\n\"Ja tentei de tudo\" -> \"Entendo. Aqui usamos medicina do emagrecimento com medicamentos de ultima geracao. Nao e dieta, e ciencia.\"\n\"Funciona?\" -> \"Usamos protocolos medicos com medicamentos aprovados pela ANVISA. Cada caso e unico.\""
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "haiku-model",
      "name": "Claude Haiku 4.5",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [1460, 560],
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-haiku-4-5-20241022",
          "mode": "list"
        },
        "options": {
          "maxTokensToSample": 1024,
          "temperature": 0.7
        }
      },
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-creds",
          "name": "Anthropic"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "window-buffer-memory",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [1600, 560],
      "parameters": {
        "sessionKey": "=sofia-evo-{{ $('Prepare Text for Agent').item.json.phone }}",
        "sessionIdType": "customKey",
        "contextWindowLength": 50
      },
      "typeVersion": 1.2
    },
    {
      "id": "vector-store-tool",
      "name": "Knowledge Base RAG Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [1740, 560],
      "parameters": {
        "name": "query_knowledge_base",
        "description": "Use this tool to search the clinic's knowledge base for information about treatments, pricing, methodology, FAQ, objections handling, and compliance.",
        "topK": 4
      },
      "typeVersion": 1
    },
    {
      "id": "qdrant-vector-store",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [1740, 740],
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "clinic_knowledge_base",
          "mode": "list"
        },
        "options": {}
      },
      "credentials": {
        "qdrantApi": {
          "id": "qdrant-creds",
          "name": "Qdrant"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "embeddings-openai",
      "name": "OpenAI Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [1880, 740],
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "openai-creds",
          "name": "OpenAI"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "openai-model-vectorstore",
      "name": "OpenAI Chat Model (RAG)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [2020, 740],
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "openai-creds",
          "name": "OpenAI"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "process-response",
      "name": "Process Response",
      "type": "n8n-nodes-base.code",
      "position": [1700, 340],
      "parameters": {
        "jsCode": "// Process Sofia's response and detect handoff triggers\nconst agentOutput = $input.first().json.output || '';\nconst preparedData = $('Prepare Text for Agent').first().json;\n\n// Check for scheduling handoff tag\nconst needsScheduling = agentOutput.includes('[AGENDAR_CONSULTA]');\nconst needsHumanTransfer = agentOutput.includes('[TRANSFERIR_HUMANO]');\n\n// Extract lead data block if present\nlet leadData = {\n  nomeCompleto: '',\n  telefone: '',\n  cpf: '',\n  dataNascimento: '',\n  email: '',\n  endereco: ''\n};\n\nconst dataBlockMatch = agentOutput.match(/\\[DADOS_LEAD\\]([\\s\\S]*?)\\[\\/DADOS_LEAD\\]/);\nif (dataBlockMatch) {\n  const dataBlock = dataBlockMatch[1];\n  \n  const nomeMatch = dataBlock.match(/NOME_COMPLETO:\\s*(.+?)(?:\\n|$)/);\n  const telefoneMatch = dataBlock.match(/TELEFONE:\\s*(.+?)(?:\\n|$)/);\n  const cpfMatch = dataBlock.match(/CPF:\\s*(.+?)(?:\\n|$)/);\n  const dataMatch = dataBlock.match(/DATA_NASCIMENTO:\\s*(.+?)(?:\\n|$)/);\n  const emailMatch = dataBlock.match(/EMAIL:\\s*(.+?)(?:\\n|$)/);\n  const enderecoMatch = dataBlock.match(/ENDERECO:\\s*(.+?)(?:\\n|$)/);\n  \n  leadData.nomeCompleto = nomeMatch ? nomeMatch[1].trim() : '';\n  leadData.telefone = telefoneMatch ? telefoneMatch[1].trim() : '';\n  leadData.cpf = cpfMatch ? cpfMatch[1].trim() : '';\n  leadData.dataNascimento = dataMatch ? dataMatch[1].trim() : '';\n  leadData.email = emailMatch ? emailMatch[1].trim() : '';\n  leadData.endereco = enderecoMatch ? enderecoMatch[1].trim() : '';\n}\n\n// Clean message for user\nlet cleanMessage = agentOutput\n  .replace(/\\[DADOS_LEAD\\][\\s\\S]*?\\[\\/DADOS_LEAD\\]/g, '')\n  .replace('[AGENDAR_CONSULTA]', '')\n  .replace('[TRANSFERIR_HUMANO]', '')\n  .trim();\n\nconst finalLeadData = {\n  nomeCompleto: leadData.nomeCompleto || preparedData.contactName,\n  telefone: leadData.telefone || preparedData.phone,\n  cpf: leadData.cpf || 'Nao informado',\n  dataNascimento: leadData.dataNascimento || 'Nao informado',\n  email: leadData.email || 'Nao informado',\n  endereco: leadData.endereco || 'Nao informado'\n};\n\nreturn {\n  responseMessage: cleanMessage,\n  leadData: finalLeadData,\n  leadPhone: preparedData.phone,\n  leadName: finalLeadData.nomeCompleto,\n  lastMessage: preparedData.text,\n  needsScheduling: needsScheduling,\n  needsHumanTransfer: needsHumanTransfer,\n  needsHandoff: needsScheduling || needsHumanTransfer,\n  handoffType: needsScheduling ? 'AGENDAMENTO' : (needsHumanTransfer ? 'TRANSFERENCIA' : null),\n  instanceName: preparedData.instanceName\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "reply-to-user",
      "name": "Reply To User",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1920, 340],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-9395.up.railway.app/message/sendText/whatsapp-teste",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.leadPhone }}\",\n  \"text\": {{ JSON.stringify($json.responseMessage) }}\n}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "evolution-api-creds",
          "name": "Evolution API"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "check-handoff",
      "name": "Needs Handoff?",
      "type": "n8n-nodes-base.if",
      "position": [2140, 340],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-handoff-flag",
              "leftValue": "={{ $('Process Response').item.json.needsHandoff }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "notify-human-support",
      "name": "Notify Human Support",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2360, 260],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-9395.up.railway.app/message/sendText/whatsapp-teste",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"5511999724691\",\n  \"text\": \"*NOVO LEAD PRONTO PARA {{ $('Process Response').item.json.handoffType }}*\\n\\n*Nome:* {{ $('Process Response').item.json.leadData.nomeCompleto }}\\n*Telefone:* {{ $('Process Response').item.json.leadData.telefone }}\\n*CPF:* {{ $('Process Response').item.json.leadData.cpf }}\\n*Nascimento:* {{ $('Process Response').item.json.leadData.dataNascimento }}\\n*Email:* {{ $('Process Response').item.json.leadData.email }}\\n*Endereco:* {{ $('Process Response').item.json.leadData.endereco }}\\n\\n*Ultima msg:* {{ $('Process Response').item.json.lastMessage }}\"\n}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "evolution-api-creds",
          "name": "Evolution API"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "sticky-note-main",
      "name": "Main Info",
      "type": "n8n-nodes-base.stickyNote",
      "position": [120, 60],
      "parameters": {
        "color": 7,
        "width": 580,
        "height": 260,
        "content": "## Sofia Evolution - Standalone Lead Qualification\n\nThis is an **independent** workflow with its own webhook.\nNo router needed - each agent runs on its own number.\n\n### Configuration (Hardcoded)\n- **Evolution API:** https://evolution-api-production-9395.up.railway.app\n- **Instance:** whatsapp-teste\n- **Support Phone:** 5511999724691\n\n### Webhook URL\nConfigure in Evolution API:\n`https://your-n8n-url/webhook/sofia-evolution`\n\n### Required Credentials\n- `evolution-api-creds` (Header Auth with apikey)\n- `anthropic-creds` (Claude Haiku)\n- `openai-creds` (Whisper + embeddings)\n- `qdrant-creds` (Vector store)"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Evolution Webhook": {
      "main": [
        [
          {
            "node": "Is Message Event?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Message Event?": {
      "main": [
        [
          {
            "node": "Is Incoming Message?",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Is Incoming Message?": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Handle Message Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Message Types": {
      "main": [
        [
          {
            "node": "Prepare Text for Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Unsupported Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Text for Agent": {
      "main": [
        [
          {
            "node": "Sofia AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Convert Audio to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Convert Video to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Audio to Binary": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Video to Binary": {
      "main": [
        [
          {
            "node": "Transcribe Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Format Audio Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Video": {
      "main": [
        [
          {
            "node": "Format Video Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Audio Transcription": {
      "main": [
        [
          {
            "node": "Sofia AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Video Transcription": {
      "main": [
        [
          {
            "node": "Sofia AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sofia AI Agent": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Response": {
      "main": [
        [
          {
            "node": "Reply To User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply To User": {
      "main": [
        [
          {
            "node": "Needs Handoff?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Handoff?": {
      "main": [
        [
          {
            "node": "Notify Human Support",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Claude Haiku 4.5": {
      "ai_languageModel": [
        [
          {
            "node": "Sofia AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Sofia AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base RAG Tool": {
      "ai_tool": [
        [
          {
            "node": "Sofia AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Knowledge Base RAG Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model (RAG)": {
      "ai_languageModel": [
        [
          {
            "node": "Knowledge Base RAG Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Sofia",
      "id": "1"
    },
    {
      "name": "Evolution API",
      "id": "7"
    },
    {
      "name": "Standalone",
      "id": "8"
    }
  ],
  "pinData": {}
}
