workflows/booking-confirmation.json
{
  "name": "Booking Confirmation with Telegram Alert",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract booking data from input\nconst input = $input.first().json;\n\n// Get the selected slot\nconst selectedSlot = input.selectedSlot;\nconst leadData = input.leadData;\nconst conversationId = input.conversationId;\n\n// Prepare event details\nconst eventStart = new Date(selectedSlot.start);\nconst eventEnd = new Date(selectedSlot.end);\n\n// Format for Google Calendar\nconst calendarEvent = {\n  summary: `Consulta - ${leadData.name || 'Novo Paciente'}`,\n  description: `Paciente: ${leadData.name || 'Nao informado'}\\nTelefone: ${input.phoneNumber}\\nEmail: ${leadData.email || 'Nao informado'}\\nCEP: ${leadData.cep || 'Nao informado'}\\nCPF: [CONFIDENCIAL]\\n\\nFonte: ${leadData.referral_source || 'Nao informado'}\\n\\nAgendado via WhatsApp Bot - Sofia`,\n  start: {\n    dateTime: eventStart.toISOString(),\n    timeZone: 'America/Sao_Paulo'\n  },\n  end: {\n    dateTime: eventEnd.toISOString(),\n    timeZone: 'America/Sao_Paulo'\n  },\n  reminders: {\n    useDefault: false,\n    overrides: [\n      { method: 'email', minutes: 1440 }, // 24h before\n      { method: 'popup', minutes: 60 }    // 1h before\n    ]\n  }\n};\n\n// Format display date in Portuguese\nconst weekdays = ['Domingo', 'Segunda-feira', 'Terca-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sabado'];\nconst months = ['Janeiro', 'Fevereiro', 'Marco', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'];\n\nconst displayDate = `${weekdays[eventStart.getDay()]}, ${eventStart.getDate()} de ${months[eventStart.getMonth()]} de ${eventStart.getFullYear()}`;\nconst displayTime = `${String(eventStart.getHours()).padStart(2, '0')}:${String(eventStart.getMinutes()).padStart(2, '0')}`;\n\nreturn [{\n  json: {\n    ...input,\n    calendarEvent,\n    displayDate,\n    displayTime,\n    fullDisplayDateTime: `${displayDate} as ${displayTime}`,\n    eventStart: eventStart.toISOString(),\n    eventEnd: eventEnd.toISOString()\n  }\n}];"
      },
      "id": "prepare-booking",
      "name": "Prepare Booking Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "calendar": "={{ $env.GOOGLE_CALENDAR_ID }}",
        "start": "={{ $json.eventStart }}",
        "end": "={{ $json.eventEnd }}",
        "additionalFields": {
          "summary": "={{ $json.calendarEvent.summary }}",
          "description": "={{ $json.calendarEvent.description }}",
          "conferenceData": false,
          "guestsCanSeeOtherGuests": false,
          "sendUpdates": "none",
          "visibility": "private"
        }
      },
      "id": "create-calendar-event",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [700, 300],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google-calendar-creds",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "tableId": "leads",
        "conflictType": "column",
        "conflictColumn": "phone_number",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $('Prepare Booking Data').first().json.conversationId }}"
            },
            {
              "fieldId": "phone_number",
              "fieldValue": "={{ $('Prepare Booking Data').first().json.phoneNumber }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Prepare Booking Data').first().json.leadData.name || '' }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Prepare Booking Data').first().json.leadData.email || '' }}"
            },
            {
              "fieldId": "cep",
              "fieldValue": "={{ $('Prepare Booking Data').first().json.leadData.cep || '' }}"
            },
            {
              "fieldId": "date_of_birth",
              "fieldValue": "={{ $('Prepare Booking Data').first().json.leadData.date_of_birth || null }}"
            },
            {
              "fieldId": "referral_source",
              "fieldValue": "={{ $('Prepare Booking Data').first().json.leadData.referral_source || 'unknown' }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "scheduled"
            },
            {
              "fieldId": "appointment_date",
              "fieldValue": "={{ $('Prepare Booking Data').first().json.eventStart }}"
            },
            {
              "fieldId": "calendar_event_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "scheduled_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "create-lead-record",
      "name": "Create/Update Lead",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [950, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "conversation_states",
        "filterType": "string",
        "filterString": "=phone_number=eq.{{ $('Prepare Booking Data').first().json.phoneNumber }}",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "scheduled"
            },
            {
              "fieldId": "current_stage",
              "fieldValue": "confirmation"
            }
          ]
        },
        "options": {}
      },
      "id": "update-conversation-status",
      "name": "Update Conversation Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [950, 500],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare Telegram notification message\nconst bookingData = $('Prepare Booking Data').first().json;\nconst calendarResult = $('Create Calendar Event').first().json;\nconst leadData = bookingData.leadData || {};\n\n// Determine lead source with emoji\nconst referralSource = leadData.referral_source || 'unknown';\nlet sourceEmoji, sourceLabel;\n\nswitch(referralSource.toLowerCase()) {\n  case 'ads':\n  case 'meta_ads':\n  case 'facebook':\n  case 'instagram':\n    sourceEmoji = '📱';\n    sourceLabel = 'Meta Ads';\n    break;\n  case 'referral':\n  case 'indicacao':\n    sourceEmoji = '🤝';\n    sourceLabel = 'Indicacao';\n    break;\n  case 'organic':\n  case 'organico':\n    sourceEmoji = '🌱';\n    sourceLabel = 'Organico';\n    break;\n  case 'google':\n    sourceEmoji = '🔍';\n    sourceLabel = 'Google';\n    break;\n  default:\n    sourceEmoji = '❓';\n    sourceLabel = 'Outro/Nao informado';\n}\n\n// Build the Telegram message\nconst telegramMessage = `🎉 *NOVO AGENDAMENTO!*\n\n👤 *Paciente:* ${leadData.name || 'Nao informado'}\n📞 *Telefone:* ${bookingData.phoneNumber}\n📧 *Email:* ${leadData.email || 'Nao informado'}\n📍 *CEP:* ${leadData.cep || 'Nao informado'}\n\n📅 *Data:* ${bookingData.displayDate}\n⏰ *Horario:* ${bookingData.displayTime}\n\n${sourceEmoji} *Origem:* ${sourceLabel}\n\n🤖 _Agendado automaticamente via Sofia (WhatsApp Bot)_`;\n\nreturn [{\n  json: {\n    telegramMessage,\n    bookingData,\n    calendarEventId: calendarResult.id,\n    sourceType: referralSource,\n    sourceLabel\n  }\n}];"
      },
      "id": "prepare-telegram-message",
      "name": "Prepare Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.telegramMessage }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-telegram-notification",
      "name": "Send Telegram Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1450, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "scheduled_reminders",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "phone_number",
              "fieldValue": "={{ $('Prepare Booking Data').first().json.phoneNumber }}"
            },
            {
              "fieldId": "reminder_type",
              "fieldValue": "reminder_24h"
            },
            {
              "fieldId": "scheduled_for",
              "fieldValue": "={{ new Date(new Date($('Prepare Booking Data').first().json.eventStart).getTime() - 24*60*60*1000).toISOString() }}"
            },
            {
              "fieldId": "template_name",
              "fieldValue": "appointment_reminder_24h"
            },
            {
              "fieldId": "template_params",
              "fieldValue": "={{ JSON.stringify({ patient_name: $('Prepare Booking Data').first().json.leadData.name, appointment_date: $('Prepare Booking Data').first().json.displayDate, appointment_time: $('Prepare Booking Data').first().json.displayTime }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "schedule-24h-reminder",
      "name": "Schedule 24h Reminder",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1450, 500],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success-response",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "confirmation-message",
              "name": "confirmationMessage",
              "value": "={{ 'Perfeito! Sua consulta esta agendada para ' + $('Prepare Booking Data').first().json.fullDisplayDateTime + '. Voce recebera um lembrete 24h antes. Ate la!' }}",
              "type": "string"
            },
            {
              "id": "calendar-event-id",
              "name": "calendarEventId",
              "value": "={{ $('Create Calendar Event').first().json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-response",
      "name": "Set Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1700, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prepare Booking Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Booking Data": {
      "main": [
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Event": {
      "main": [
        [
          {
            "node": "Create/Update Lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Conversation Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create/Update Lead": {
      "main": [
        [
          {
            "node": "Prepare Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Telegram Message": {
      "main": [
        [
          {
            "node": "Send Telegram Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Schedule 24h Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Notification": {
      "main": [
        [
          {
            "node": "Set Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "clinic-whatsapp-bot",
    "notes": "Called by the orchestrator when a user confirms a booking slot. Creates calendar event, updates lead record, sends Telegram notification with lead source (ads/referral/organic), and schedules 24h reminder."
  },
  "pinData": {},
  "tags": [
    {
      "name": "booking",
      "id": "5"
    },
    {
      "name": "notifications",
      "id": "7"
    },
    {
      "name": "production",
      "id": "2"
    }
  ]
}
