workflows/calendar-booking.json
{
  "name": "Calendar Booking Flow",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": "={{ $env.GOOGLE_CALENDAR_ID }}",
        "returnAll": false,
        "limit": 100,
        "options": {
          "timeMin": "={{ new Date().toISOString() }}",
          "timeMax": "={{ new Date(Date.now() + 14 * 24 * 60 * 60 * 1000).toISOString() }}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "get-calendar-events",
      "name": "Get Calendar Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [450, 300],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google-calendar-creds",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Calculate available slots\nconst events = $input.all().map(i => i.json);\nconst inputData = $('Execute Workflow Trigger').first().json;\n\nconst businessHours = {\n  start: parseInt($env.BUSINESS_HOURS_START) || 8,\n  end: parseInt($env.BUSINESS_HOURS_END) || 18,\n  slotDuration: 60, // minutes\n  daysAhead: 14\n};\n\nconst slots = [];\nconst now = new Date();\n\n// Generate slots for the next 14 days\nfor (let d = 1; d <= businessHours.daysAhead; d++) {\n  const date = new Date(now);\n  date.setDate(date.getDate() + d);\n  \n  // Skip weekends\n  if (date.getDay() === 0 || date.getDay() === 6) continue;\n  \n  for (let h = businessHours.start; h < businessHours.end; h++) {\n    const slotStart = new Date(date);\n    slotStart.setHours(h, 0, 0, 0);\n    \n    const slotEnd = new Date(slotStart);\n    slotEnd.setMinutes(slotEnd.getMinutes() + businessHours.slotDuration);\n    \n    // Check if slot conflicts with existing events\n    const hasConflict = events.some(event => {\n      if (!event.start || !event.end) return false;\n      const eventStart = new Date(event.start.dateTime || event.start.date);\n      const eventEnd = new Date(event.end.dateTime || event.end.date);\n      return slotStart < eventEnd && slotEnd > eventStart;\n    });\n    \n    if (!hasConflict) {\n      // Format date in Portuguese\n      const weekdays = ['Domingo', 'Segunda', 'Terca', 'Quarta', 'Quinta', 'Sexta', 'Sabado'];\n      const months = ['Janeiro', 'Fevereiro', 'Marco', 'Abril', 'Maio', 'Junho', \n                      'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'];\n      \n      const displayDate = `${weekdays[slotStart.getDay()]}, ${slotStart.getDate()} de ${months[slotStart.getMonth()]}`;\n      const displayTime = `${String(slotStart.getHours()).padStart(2, '0')}:${String(slotStart.getMinutes()).padStart(2, '0')}`;\n      \n      slots.push({\n        start: slotStart.toISOString(),\n        end: slotEnd.toISOString(),\n        displayDate,\n        displayTime,\n        display: `${displayDate} as ${displayTime}`\n      });\n    }\n  }\n}\n\n// Limit to first 10 available slots\nconst availableSlots = slots.slice(0, 10);\n\n// Format message for user\nlet message;\nif (availableSlots.length === 0) {\n  message = 'Infelizmente nao temos horarios disponiveis nos proximos dias. Gostaria que eu avisasse quando abrirem novas vagas?';\n} else {\n  message = 'Otimo! Aqui estao nossos horarios disponiveis:\\n\\n';\n  availableSlots.forEach((slot, i) => {\n    message += `${i + 1}. ${slot.display}\\n`;\n  });\n  message += '\\nQual horario funciona melhor para voce? Responda com o numero.';\n}\n\nreturn [{\n  json: {\n    availableSlots,\n    slotsCount: availableSlots.length,\n    message,\n    hasAvailability: availableSlots.length > 0,\n    ...inputData\n  }\n}];"
      },
      "id": "calculate-slots",
      "name": "Calculate Available Slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-availability",
              "leftValue": "={{ $json.hasAvailability }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-slots",
      "name": "IF Has Availability",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "conversation_states",
        "filterType": "string",
        "filterString": "=phone_number=eq.{{ $json.phoneNumber }}",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "current_stage",
              "fieldValue": "scheduling"
            },
            {
              "fieldId": "collected_data",
              "fieldValue": "={{ JSON.stringify({ ...$json.updatedCollectedData, available_slots: $json.availableSlots }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "save-slots-to-state",
      "name": "Save Slots to State",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1100, 200],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "={{ $env.HANDOFF_WORKFLOW_ID }}",
        "options": {}
      },
      "id": "trigger-callback-handoff",
      "name": "Trigger Callback Handoff",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-response",
              "name": "responseMessage",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "set-stage",
              "name": "newStage",
              "value": "scheduling",
              "type": "string"
            },
            {
              "id": "set-action",
              "name": "nextAction",
              "value": "await_slot_selection",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-response-with-slots",
      "name": "Set Response with Slots",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1300, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-no-availability-response",
              "name": "responseMessage",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "set-handoff-reason",
              "name": "handoffReason",
              "value": "no_availability",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-no-availability",
      "name": "Set No Availability Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1100, 500]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Calendar Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Calendar Events": {
      "main": [
        [
          {
            "node": "Calculate Available Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Available Slots": {
      "main": [
        [
          {
            "node": "IF Has Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Availability": {
      "main": [
        [
          {
            "node": "Save Slots to State",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Callback Handoff",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set No Availability Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Slots to State": {
      "main": [
        [
          {
            "node": "Set Response with Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "clinic-whatsapp-bot"
  },
  "pinData": {},
  "tags": [
    {
      "name": "booking",
      "id": "5"
    },
    {
      "name": "production",
      "id": "2"
    }
  ]
}
