workflows/conversation-orchestrator-v2.json
{
  "name": "Conversation Orchestrator v2 (AI Agent)",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "select",
        "tableId": "conversation_states",
        "filterType": "string",
        "filterString": "=phone_number=eq.{{ $json.messageData.from }}",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "id": "load-state",
      "name": "Load Conversation State",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare context for AI Agent\nconst inputData = $('Execute Workflow Trigger').first().json;\nconst stateResult = $input.all();\nconst hasState = stateResult.length > 0 && stateResult[0].json.id;\n\nlet state = hasState ? stateResult[0].json : null;\n\nconst conversationStage = state?.current_stage || 'greeting';\nconst collectedData = state?.collected_data || {};\nconst messageHistory = state?.message_history || [];\nconst language = state?.language || 'pt';\n\n// Required fields for qualification\nconst requiredFields = ['name', 'email', 'cep', 'date_of_birth', 'cpf', 'referral_source'];\nconst missingFields = requiredFields.filter(f => !collectedData[f]);\n\n// Check age if DOB is collected\nlet ageValid = true;\nlet calculatedAge = null;\nif (collectedData.date_of_birth) {\n  const dob = new Date(collectedData.date_of_birth);\n  const today = new Date();\n  calculatedAge = Math.floor((today - dob) / (365.25 * 24 * 60 * 60 * 1000));\n  ageValid = calculatedAge >= 16;\n}\n\n// Build chat history for AI Agent memory\nconst chatHistory = messageHistory.map(m => ({\n  role: m.role === 'user' ? 'user' : 'assistant',\n  content: m.content\n}));\n\n// Get remoteJid for Evolution API response\nconst remoteJid = inputData.messageData.remoteJid || `${inputData.messageData.from}@s.whatsapp.net`;\n\nreturn [{\n  json: {\n    conversationId: state?.id || null,\n    isNewConversation: !hasState,\n    phoneNumber: inputData.messageData.from,\n    remoteJid: remoteJid,\n    contactName: inputData.messageData.contactName,\n    stage: conversationStage,\n    collectedData,\n    missingFields,\n    ageValid,\n    calculatedAge,\n    language,\n    chatHistory,\n    inputMessage: inputData.processedText,\n    messageType: inputData.originalType,\n    rawMessageData: inputData.messageData,\n    \n    // Context for system prompt\n    systemContext: `\n## CONTEXTO DA CONVERSA\nTelefone: ${inputData.messageData.from}\nNome: ${inputData.messageData.contactName || 'Nao informado'}\nEstagio: ${conversationStage}\nIdioma: ${language}\nNova conversa: ${!hasState ? 'Sim' : 'Nao'}\n\n## DADOS COLETADOS\n${JSON.stringify(collectedData, null, 2)}\n\n## CAMPOS FALTANDO\n${missingFields.length > 0 ? missingFields.join(', ') : 'Todos coletados!'}\n\n## VALIDACAO IDADE\n${calculatedAge !== null ? `Idade: ${calculatedAge} anos - ${ageValid ? 'VALIDO' : 'MENOR DE 16'}` : 'Nao informada'}\n`\n  }\n}];"
      },
      "id": "prepare-context",
      "name": "Prepare Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "={{ $env.SOFIA_SYSTEM_PROMPT + $json.systemContext }}"
        }
      },
      "id": "ai-agent",
      "name": "Sofia AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [900, 300]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list"
        },
        "options": {
          "maxTokensToSample": 1024,
          "temperature": 0.7
        }
      },
      "id": "anthropic-chat-model",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [900, 520],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-creds",
          "name": "Anthropic"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "id": "buffer-memory",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [1050, 520]
    },
    {
      "parameters": {
        "name": "check_calendar_availability",
        "description": "Verifica horarios disponiveis no calendario para agendamento de consulta. Use quando o paciente quiser agendar.",
        "workflowId": "={{ $env.BOOKING_WORKFLOW_ID }}"
      },
      "id": "tool-calendar",
      "name": "Tool: Calendar",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [1200, 520]
    },
    {
      "parameters": {
        "name": "escalate_to_human",
        "description": "Escala a conversa para um humano. Use em casos de: perguntas medicas complexas, gravidez, condicoes serias, negociacoes, ou quando o paciente solicita.",
        "workflowId": "={{ $env.HANDOFF_WORKFLOW_ID }}"
      },
      "id": "tool-handoff",
      "name": "Tool: Human Handoff",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [1350, 520]
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $env.QDRANT_COLLECTION_NAME }}",
          "mode": "id"
        },
        "topK": 5,
        "options": {}
      },
      "id": "vector-store-retriever",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [1500, 520],
      "credentials": {
        "qdrantApi": {
          "id": "qdrant-creds",
          "name": "Qdrant"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "openai-embeddings",
      "name": "OpenAI Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [1500, 680],
      "credentials": {
        "openAiApi": {
          "id": "openai-creds",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "name": "search_knowledge_base",
        "description": "Busca informacoes na base de conhecimento da clinica. Use para responder perguntas sobre: servicos, tratamentos, metodologia, precos da consulta, diferencias, FAQ.",
        "toolDescription": "Ferramenta para buscar informacoes relevantes sobre a clinica"
      },
      "id": "tool-rag",
      "name": "Tool: Knowledge Base",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [1650, 520]
    },
    {
      "parameters": {
        "jsCode": "// Parse AI Agent response and prepare state update\nconst aiResponse = $input.first().json;\nconst context = $('Prepare Context').first().json;\n\n// Extract the response text\nconst responseText = aiResponse.output || aiResponse.text || '';\n\n// Try to extract structured data from response\nlet extractedData = {};\nlet newStage = context.stage;\nlet requiresAction = null;\n\n// Simple extraction patterns (AI should format response to include these)\nconst nameMatch = responseText.match(/\\[EXTRACTED_NAME:([^\\]]+)\\]/);\nconst emailMatch = responseText.match(/\\[EXTRACTED_EMAIL:([^\\]]+)\\]/);\nconst stageMatch = responseText.match(/\\[NEW_STAGE:([^\\]]+)\\]/);\nconst actionMatch = responseText.match(/\\[ACTION:([^\\]]+)\\]/);\n\nif (nameMatch) extractedData.name = nameMatch[1].trim();\nif (emailMatch) extractedData.email = emailMatch[1].trim();\nif (stageMatch) newStage = stageMatch[1].trim();\nif (actionMatch) requiresAction = actionMatch[1].trim();\n\n// Clean response (remove extraction markers)\nlet cleanResponse = responseText\n  .replace(/\\[EXTRACTED_\\w+:[^\\]]+\\]/g, '')\n  .replace(/\\[NEW_STAGE:[^\\]]+\\]/g, '')\n  .replace(/\\[ACTION:[^\\]]+\\]/g, '')\n  .trim();\n\n// Update collected data\nconst updatedCollectedData = {\n  ...context.collectedData,\n  ...extractedData\n};\n\n// Update message history\nconst newHistory = [\n  ...context.chatHistory,\n  { role: 'user', content: context.inputMessage, timestamp: new Date().toISOString() },\n  { role: 'assistant', content: cleanResponse, timestamp: new Date().toISOString() }\n];\n\nreturn [{\n  json: {\n    responseMessage: cleanResponse,\n    extractedData,\n    updatedCollectedData,\n    newStage,\n    requiresAction,\n    conversationId: context.conversationId,\n    phoneNumber: context.phoneNumber,\n    remoteJid: context.remoteJid,\n    contactName: context.contactName,\n    language: context.language,\n    messageHistory: newHistory\n  }\n}];"
      },
      "id": "parse-ai-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1150, 300]
    },
    {
      "parameters": {
        "operation": "upsert",
        "tableId": "conversation_states",
        "conflictType": "column",
        "conflictColumn": "phone_number",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "phone_number",
              "fieldValue": "={{ $json.phoneNumber }}"
            },
            {
              "fieldId": "contact_name",
              "fieldValue": "={{ $json.contactName }}"
            },
            {
              "fieldId": "current_stage",
              "fieldValue": "={{ $json.newStage }}"
            },
            {
              "fieldId": "collected_data",
              "fieldValue": "={{ JSON.stringify($json.updatedCollectedData) }}"
            },
            {
              "fieldId": "message_history",
              "fieldValue": "={{ JSON.stringify($json.messageHistory) }}"
            },
            {
              "fieldId": "language",
              "fieldValue": "={{ $json.language }}"
            },
            {
              "fieldId": "last_message_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "update-state",
      "name": "Update Conversation State",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1400, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE_NAME }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phoneNumber }}\",\n  \"text\": {{ JSON.stringify($json.responseMessage) }}\n}",
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp Response (Evolution API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1650, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "evolution-api-key",
          "name": "Evolution API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-chatwoot",
              "leftValue": "={{ $env.CHATWOOT_ENABLED }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-chatwoot-enabled",
      "name": "IF Chatwoot Enabled",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CHATWOOT_API_URL }}/api/v1/accounts/{{ $env.CHATWOOT_ACCOUNT_ID }}/conversations/{{ $json.chatwootConversationId }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($('Parse AI Response').first().json.responseMessage) }},\n  \"message_type\": \"outgoing\",\n  \"private\": false\n}",
        "options": {}
      },
      "id": "sync-to-chatwoot",
      "name": "Sync to Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2050, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "chatwoot-api-key",
          "name": "Chatwoot API Key"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-op-chatwoot",
      "name": "No Chatwoot Sync",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2050, 400]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Load Conversation State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Conversation State": {
      "main": [
        [
          {
            "node": "Prepare Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context": {
      "main": [
        [
          {
            "node": "Sofia AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sofia AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sofia AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Sofia AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Calendar": {
      "ai_tool": [
        [
          {
            "node": "Sofia AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Human Handoff": {
      "ai_tool": [
        [
          {
            "node": "Sofia AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Sofia AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Tool: Knowledge Base",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Update Conversation State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Conversation State": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response (Evolution API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Response (Evolution API)": {
      "main": [
        [
          {
            "node": "IF Chatwoot Enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Chatwoot Enabled": {
      "main": [
        [
          {
            "node": "Sync to Chatwoot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Chatwoot Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "clinic-whatsapp-bot",
    "notes": "This v2 workflow uses n8n's native AI Agent node with Evolution API for WhatsApp messaging. Supports optional Chatwoot integration for conversation management. Benefits: built-in memory, native tool support, better error handling, automatic context management."
  },
  "pinData": {},
  "tags": [
    {
      "name": "core",
      "id": "3"
    },
    {
      "name": "ai-agent",
      "id": "6"
    },
    {
      "name": "evolution-api",
      "id": "7"
    },
    {
      "name": "production",
      "id": "2"
    }
  ]
}
