workflows/diana-patient-checkin.json
{
  "name": "Diana - Patient Check-in AI Agent",
  "meta": {
    "instanceId": "patient-checkin-tirzepatide",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Weekly Check-in Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [220, 340],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": ["saturday"],
              "triggerAtHour": 11
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "get-patients",
      "name": "Get Active Patients",
      "type": "n8n-nodes-base.googleSheets",
      "position": [440, 340],
      "parameters": {
        "operation": "read",
        "sheetName": {
          "__rl": true,
          "value": "Patients",
          "mode": "list"
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "DEFAULT"
            }
          }
        },
        "documentId": {
          "__rl": true,
          "value": "1zH3lLAqgWMyBE_uVCExqWoazaFygaMZjgQ-LB3M5818",
          "mode": "id"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-creds",
          "name": "Google Sheets OAuth"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "filter-active-patients",
      "name": "Filter Active Patients",
      "type": "n8n-nodes-base.filter",
      "position": [660, 340],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ parseInt($json['REMAINING_WEEKS']) }}",
              "rightValue": 0
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 2.2
    },
    {
      "id": "prepare-patient-context",
      "name": "Prepare Patient Context",
      "type": "n8n-nodes-base.code",
      "position": [880, 340],
      "parameters": {
        "jsCode": "// Prepare patient context for AI agent\nconst patient = $input.first().json;\n\n// Parse dates\nconst startDate = new Date(patient.STARTING_DATE);\nconst today = new Date();\nconst weekNumber = Math.floor((today - startDate) / (7 * 24 * 60 * 60 * 1000)) + 1;\n\n// Check treatment status\nconst remainingWeeks = parseInt(patient.REMAINING_WEEKS);\nconst isTwoWeeksRemaining = remainingWeeks === 2;\nconst isLastWeek = remainingWeeks === 1;\nconst needsRenewalReminder = isTwoWeeksRemaining || isLastWeek;\n\n// Format phone number for WhatsApp\nlet phone = patient.PHONE.toString().replace(/\\D/g, '');\nif (!phone.startsWith('55')) {\n  phone = '55' + phone;\n}\n\nreturn {\n  json: {\n    patientName: patient.NAME,\n    phone: phone,\n    currentDose: patient.CURRENT_DOSE,\n    remainingWeeks: remainingWeeks,\n    totalWeeks: parseInt(patient.TOTAL_WEEKS_CONTRACTED),\n    weekNumber: weekNumber,\n    startDate: patient.STARTING_DATE,\n    paymentMethod: patient.PAYMENT_METHOD,\n    lastPayment: patient.LAST_PAYMENT,\n    notes: patient.NOTES || '',\n    isTwoWeeksRemaining: isTwoWeeksRemaining,\n    isLastWeek: isLastWeek,\n    needsRenewalReminder: needsRenewalReminder\n  }\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "checkin-ai-agent",
      "name": "Check-in AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [1100, 340],
      "parameters": {
        "text": "Generate a personalized weekly check-in message for this patient:\n\n**Patient Name:** {{ $json.patientName }}\n**Current Week:** {{ $json.weekNumber }} of {{ $json.totalWeeks }}\n**Remaining Weeks:** {{ $json.remainingWeeks }}\n**Current Dose:** {{ $json.currentDose }}\n**Is Two Weeks Remaining:** {{ $json.isTwoWeeksRemaining }}\n**Is Last Week:** {{ $json.isLastWeek }}\n**Previous Notes:** {{ $json.notes }}\n\nGenerate a warm, professional WhatsApp check-in message in Portuguese (Brazil). Include:\n1. Greeting with their name\n2. Reminder of their current Tirzepatide dose ({{ $json.currentDose }})\n3. How many weeks remaining in their treatment ({{ $json.remainingWeeks }})\n4. Ask how they are feeling this week\n5. Ask about any side effects\n6. Ask if they need anything\n\nIf TWO WEEKS REMAINING: Remind them their plan is ending soon, ask about renewal.\nIf LAST WEEK: Final check-in, ask about their experience and renewal interest.",
        "options": {
          "systemMessage": "You are Diana, a caring medical assistant for a Tirzepatide (Mounjaro) weight loss clinic.\n\n## Rules\n- Use Brazilian Portuguese (switch to English if patient uses it)\n- Keep messages concise (max 3-4 short paragraphs)\n- NO emojis - professional messages only\n- Always address patient by name\n- Always mention their current dose\n- Never provide medical advice\n- Encourage contacting doctor for concerns"
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "haiku-model-checkin",
      "name": "Claude Haiku 4.5 (Check-in)",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [1100, 560],
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list"
        },
        "options": {
          "maxTokensToSample": 1024,
          "temperature": 0.7
        }
      },
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-creds",
          "name": "Anthropic"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "memory-checkin",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [1240, 560],
      "parameters": {
        "sessionKey": "=checkin-{{ $json.phone }}",
        "sessionIdType": "customKey",
        "contextWindowLength": 10
      },
      "typeVersion": 1.2
    },
    {
      "id": "rag-tool-checkin",
      "name": "Tirzepatide Knowledge Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [1380, 560],
      "parameters": {
        "name": "tirzepatide_knowledge",
        "description": "Search the knowledge base for information about Tirzepatide treatment, dosage schedules, side effects, and patient care guidelines.",
        "topK": 3
      },
      "typeVersion": 1
    },
    {
      "id": "qdrant-checkin",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [1380, 740],
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "clinic_knowledge_base",
          "mode": "list"
        },
        "options": {}
      },
      "credentials": {
        "qdrantApi": {
          "id": "qdrant-creds",
          "name": "Qdrant"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "embeddings-checkin",
      "name": "OpenAI Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [1520, 740],
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "openai-creds",
          "name": "OpenAI"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "openai-model-rag",
      "name": "OpenAI Chat Model (RAG)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [1660, 740],
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "openai-creds",
          "name": "OpenAI"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "send-checkin-whatsapp",
      "name": "Send Check-in Message",
      "type": "n8n-nodes-base.whatsApp",
      "position": [1340, 340],
      "parameters": {
        "textBody": "={{ $json.output }}",
        "operation": "send",
        "phoneNumberId": "942770825580464",
        "requestOptions": {},
        "additionalFields": {
          "previewUrl": false
        },
        "recipientPhoneNumber": "={{ $('Prepare Patient Context').item.json.phone }}"
      },
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp-creds",
          "name": "WhatsApp Business"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "update-remaining-weeks",
      "name": "Deduct Remaining Week",
      "type": "n8n-nodes-base.googleSheets",
      "position": [1560, 340],
      "parameters": {
        "operation": "update",
        "sheetName": {
          "__rl": true,
          "value": "Patients",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "REMAINING_WEEKS": "={{ $('Prepare Patient Context').item.json.remainingWeeks - 1 }}",
            "LAST_CHECKIN": "={{ $now.format('yyyy-MM-dd') }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        },
        "documentId": {
          "__rl": true,
          "value": "1zH3lLAqgWMyBE_uVCExqWoazaFygaMZjgQ-LB3M5818",
          "mode": "id"
        },
        "matchingColumns": ["NAME"]
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-creds",
          "name": "Google Sheets OAuth"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "check-treatment-ending",
      "name": "Check Treatment Status",
      "type": "n8n-nodes-base.switch",
      "position": [1780, 340],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "Last Week - Complete",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "leftValue": "={{ $('Prepare Patient Context').item.json.isLastWeek }}"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "Two Weeks - Notify",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "leftValue": "={{ $('Prepare Patient Context').item.json.isTwoWeeksRemaining }}"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "Treatment Ongoing",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "boolean",
                      "operation": "false"
                    },
                    "leftValue": "={{ $('Prepare Patient Context').item.json.needsRenewalReminder }}"
                  }
                ]
              },
              "renameOutput": true
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 3.2
    },
    {
      "id": "mark-treatment-complete",
      "name": "Mark Treatment Complete",
      "type": "n8n-nodes-base.googleSheets",
      "position": [2000, 240],
      "parameters": {
        "operation": "update",
        "sheetName": {
          "__rl": true,
          "value": "Patients",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "STATUS": "completed"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        },
        "documentId": {
          "__rl": true,
          "value": "1zH3lLAqgWMyBE_uVCExqWoazaFygaMZjgQ-LB3M5818",
          "mode": "id"
        },
        "matchingColumns": ["NAME"]
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-creds",
          "name": "Google Sheets OAuth"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "notify-team-final-week",
      "name": "Notify Team - Final Week",
      "type": "n8n-nodes-base.telegram",
      "position": [2220, 180],
      "parameters": {
        "text": "=**TREATMENT COMPLETED**\n\nPatient: {{ $('Prepare Patient Context').item.json.patientName }}\nPhone: {{ $('Prepare Patient Context').item.json.phone }}\nPlan: {{ $('Prepare Patient Context').item.json.totalWeeks }} weeks\nFinal Dose: {{ $('Prepare Patient Context').item.json.currentDose }}\n\n**Action:** Contact patient to discuss renewal.\nPlans: 4, 12, or 16 weeks.",
        "chatId": "-5050985328",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "Telegram Bot"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "notify-team-two-weeks",
      "name": "Notify Team - 2 Weeks Remaining",
      "type": "n8n-nodes-base.telegram",
      "position": [2000, 420],
      "parameters": {
        "text": "=**RENEWAL REMINDER**\n\nPatient: {{ $('Prepare Patient Context').item.json.patientName }}\nPhone: {{ $('Prepare Patient Context').item.json.phone }}\n2 weeks remaining\nDose: {{ $('Prepare Patient Context').item.json.currentDose }}\n\n**Action:** Reach out about renewal options.",
        "chatId": "-5050985328",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "Telegram Bot"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "whatsapp-trigger-response",
      "name": "WhatsApp Response Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "position": [220, 700],
      "webhookId": "patient-checkin-webhook",
      "parameters": {
        "updates": ["messages"]
      },
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "whatsapp-trigger-creds",
          "name": "WhatsApp Business API"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "handle-response-type",
      "name": "Handle Response Type",
      "type": "n8n-nodes-base.switch",
      "position": [440, 700],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "Text Message",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "Unsupported",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text"
                  }
                ]
              },
              "renameOutput": true
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 3.2
    },
    {
      "id": "lookup-patient",
      "name": "Lookup Patient",
      "type": "n8n-nodes-base.googleSheets",
      "position": [660, 700],
      "parameters": {
        "operation": "read",
        "sheetName": {
          "__rl": true,
          "value": "Patients",
          "mode": "list"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "PHONE",
              "lookupValue": "={{ $json.messages[0].from.replace(/^55/, '') }}"
            }
          ]
        },
        "options": {},
        "documentId": {
          "__rl": true,
          "value": "1zH3lLAqgWMyBE_uVCExqWoazaFygaMZjgQ-LB3M5818",
          "mode": "id"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-creds",
          "name": "Google Sheets OAuth"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "check-patient-exists",
      "name": "Is Known Patient?",
      "type": "n8n-nodes-base.if",
      "position": [880, 700],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "string",
                "operation": "exists"
              },
              "leftValue": "={{ $json.NAME }}"
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 2.2
    },
    {
      "id": "prepare-response-context",
      "name": "Prepare Response Context",
      "type": "n8n-nodes-base.code",
      "position": [1100, 600],
      "parameters": {
        "jsCode": "// Prepare context for handling patient response\nconst patient = $input.first().json;\nconst whatsappData = $('WhatsApp Response Trigger').item.json;\n\n// Calculate week number\nconst startDate = new Date(patient.STARTING_DATE);\nconst today = new Date();\nconst weekNumber = Math.floor((today - startDate) / (7 * 24 * 60 * 60 * 1000)) + 1;\n\nreturn {\n  json: {\n    messageText: whatsappData.messages[0].text.body,\n    patientName: patient.NAME,\n    phone: whatsappData.messages[0].from,\n    currentDose: patient.CURRENT_DOSE,\n    remainingWeeks: parseInt(patient.REMAINING_WEEKS),\n    totalWeeks: parseInt(patient.TOTAL_WEEKS_CONTRACTED),\n    weekNumber: weekNumber,\n    startDate: patient.STARTING_DATE,\n    paymentMethod: patient.PAYMENT_METHOD,\n    phoneNumberId: whatsappData.metadata?.phone_number_id\n  }\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "response-ai-agent",
      "name": "Response AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [1320, 600],
      "parameters": {
        "text": "Patient {{ $json.patientName }} (Dose: {{ $json.currentDose }}, Week {{ $json.weekNumber }}, {{ $json.remainingWeeks }} weeks remaining) sent:\n\n\"{{ $json.messageText }}\"\n\nRespond appropriately. If they report side effects, acknowledge and advise consulting their doctor if severe. Be supportive and professional.\n\nAfter responding, also output a JSON block with your analysis:\n```json\n{\"summary\": \"Brief 1-2 sentence summary of patient's report\", \"follow_up_needed\": true/false, \"reason\": \"Why follow-up is needed or not\"}\n```",
        "options": {
          "systemMessage": "You are Diana, a caring medical assistant for a Tirzepatide (Mounjaro) weight loss clinic.\n\n## Rules\n- Use Brazilian Portuguese (switch to English if patient uses it)\n- Keep messages concise (max 2-3 short paragraphs)\n- NO emojis - professional messages only\n- Always address patient by name\n- Acknowledge their concerns or feedback\n- For side effects: validate, ask follow-up questions, recommend doctor if severe\n- Never provide specific medical advice\n\n## Flag for Follow-up If:\n- Severe side effects (persistent vomiting, severe pain, allergic reaction)\n- Patient wants to stop treatment\n- Patient seems distressed\n- Patient asks about renewal\n- Any medical concern beyond your scope\n\n## Response Format\nFirst provide your response to the patient, then add a JSON analysis block."
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "haiku-model-response",
      "name": "Claude Haiku 4.5 (Response)",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [1320, 820],
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list"
        },
        "options": {
          "maxTokensToSample": 1024,
          "temperature": 0.7
        }
      },
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-creds",
          "name": "Anthropic"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "memory-response",
      "name": "Window Buffer Memory (Response)",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [1460, 820],
      "parameters": {
        "sessionKey": "=checkin-{{ $json.phone }}",
        "sessionIdType": "customKey",
        "contextWindowLength": 10
      },
      "typeVersion": 1.2
    },
    {
      "id": "rag-tool-response",
      "name": "Tirzepatide Knowledge (Response)",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [1600, 820],
      "parameters": {
        "name": "tirzepatide_knowledge",
        "description": "Search the knowledge base for information about Tirzepatide treatment, dosage schedules, side effects, and patient care guidelines.",
        "topK": 3
      },
      "typeVersion": 1
    },
    {
      "id": "qdrant-response",
      "name": "Qdrant Vector Store (Response)",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [1600, 1000],
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "clinic_knowledge_base",
          "mode": "list"
        },
        "options": {}
      },
      "credentials": {
        "qdrantApi": {
          "id": "qdrant-creds",
          "name": "Qdrant"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "embeddings-response",
      "name": "OpenAI Embeddings (Response)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [1740, 1000],
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "openai-creds",
          "name": "OpenAI"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "openai-model-response-rag",
      "name": "OpenAI Chat Model (Response RAG)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [1880, 1000],
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "openai-creds",
          "name": "OpenAI"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "parse-ai-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "position": [1560, 600],
      "parameters": {
        "jsCode": "// Parse AI response and extract summary/follow-up analysis\nconst context = $('Prepare Response Context').item.json;\nconst aiOutput = $json.output;\n\n// Extract JSON block from AI response\nlet summary = 'Check-in response received';\nlet followUpNeeded = false;\nlet reason = '';\nlet patientMessage = '';\n\ntry {\n  const jsonMatch = aiOutput.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n  if (jsonMatch) {\n    const analysis = JSON.parse(jsonMatch[1]);\n    summary = analysis.summary || summary;\n    followUpNeeded = analysis.follow_up_needed || false;\n    reason = analysis.reason || '';\n  }\n  // Get the response text (before the JSON block)\n  patientMessage = aiOutput.replace(/```json[\\s\\S]*```/, '').trim();\n} catch (e) {\n  patientMessage = aiOutput;\n}\n\nreturn {\n  json: {\n    // Patient info\n    patientName: context.patientName,\n    phone: context.phone,\n    currentDose: context.currentDose,\n    remainingWeeks: context.remainingWeeks,\n    weekNumber: context.weekNumber,\n    totalWeeks: context.totalWeeks,\n    paymentMethod: context.paymentMethod,\n    phoneNumberId: context.phoneNumberId,\n    \n    // Messages\n    patientMessageText: context.messageText,\n    dianaResponse: patientMessage,\n    \n    // Analysis\n    summary: summary,\n    followUpNeeded: followUpNeeded,\n    followUpReason: reason\n  }\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "send-response-whatsapp",
      "name": "Send Response to Patient",
      "type": "n8n-nodes-base.whatsApp",
      "position": [1780, 600],
      "parameters": {
        "textBody": "={{ $json.dianaResponse }}",
        "operation": "send",
        "phoneNumberId": "={{ $json.phoneNumberId }}",
        "requestOptions": {},
        "additionalFields": {
          "previewUrl": false
        },
        "recipientPhoneNumber": "={{ $json.phone }}"
      },
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp-creds",
          "name": "WhatsApp Business"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "log-checkin",
      "name": "Log Check-in Summary",
      "type": "n8n-nodes-base.googleSheets",
      "position": [2000, 600],
      "parameters": {
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "value": "CheckIns",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATE": "={{ $now.format('yyyy-MM-dd HH:mm') }}",
            "PATIENT_NAME": "={{ $json.patientName }}",
            "PHONE": "={{ $json.phone }}",
            "WEEK": "={{ $json.weekNumber }}",
            "SUMMARY": "={{ $json.summary }}",
            "FOLLOW_UP_NEEDED": "={{ $json.followUpNeeded ? 'YES' : 'NO' }}"
          }
        },
        "options": {},
        "documentId": {
          "__rl": true,
          "value": "10ABFjGgSA-Xk1I5F4QB8JPQlsmh83aUHT3LmvKeeLyo",
          "mode": "id"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-creds",
          "name": "Google Sheets OAuth"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "check-followup-needed",
      "name": "Needs Follow-up?",
      "type": "n8n-nodes-base.if",
      "position": [2220, 600],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.followUpNeeded }}"
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 2.2
    },
    {
      "id": "notify-team-followup",
      "name": "Notify Team - Follow-up Needed",
      "type": "n8n-nodes-base.telegram",
      "position": [2440, 500],
      "parameters": {
        "text": "=**FOLLOW-UP REQUIRED**\n\n**Patient:** {{ $json.patientName }}\n**Phone:** {{ $json.phone }}\n**Week:** {{ $json.weekNumber }} of {{ $json.totalWeeks }}\n**Dose:** {{ $json.currentDose }}\n**Weeks Remaining:** {{ $json.remainingWeeks }}\n\n**Patient said:**\n{{ $json.patientMessageText }}\n\n**Summary:** {{ $json.summary }}\n**Reason for follow-up:** {{ $json.followUpReason }}\n\n**Diana responded:**\n{{ $json.dianaResponse }}\n\nPlease contact patient.",
        "chatId": "-5050985328",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "Telegram Bot"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "reply-unknown-patient",
      "name": "Reply Unknown Patient",
      "type": "n8n-nodes-base.whatsApp",
      "position": [1100, 800],
      "parameters": {
        "textBody": "Ola! Este numero nao esta cadastrado em nosso sistema de acompanhamento. Se voce e paciente da clinica e deseja suporte, por favor entre em contato com nossa equipe para atualizar seu cadastro. Obrigado!",
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Response Trigger').item.json.metadata?.phone_number_id }}",
        "requestOptions": {},
        "additionalFields": {
          "previewUrl": false
        },
        "recipientPhoneNumber": "={{ $('WhatsApp Response Trigger').item.json.messages[0].from }}"
      },
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp-creds",
          "name": "WhatsApp Business"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "reply-unsupported-response",
      "name": "Reply Unsupported Type",
      "type": "n8n-nodes-base.whatsApp",
      "position": [660, 880],
      "parameters": {
        "textBody": "Ola! No momento, consigo processar apenas mensagens de texto. Por favor, escreva sua mensagem e responderei em seguida!",
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Response Trigger').item.json.metadata?.phone_number_id }}",
        "requestOptions": {},
        "additionalFields": {
          "previewUrl": false
        },
        "recipientPhoneNumber": "={{ $('WhatsApp Response Trigger').item.json.messages[0].from }}"
      },
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp-creds",
          "name": "WhatsApp Business"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "sticky-note-overview",
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [120, 60],
      "parameters": {
        "color": 7,
        "width": 600,
        "height": 240,
        "content": "## Diana - Patient Check-in AI Agent\n\nWeekly check-ins for Tirzepatide patients with simplified logging.\n\n### Flow:\n1. **Outbound (Saturday 11 AM):** Send check-in → Deduct week → Notify if renewal needed\n2. **Inbound (Patient Response):** Respond → Generate AI summary → Log check-in → Alert if follow-up needed\n\n### Sheets:\n- **Patients:** Master patient data\n- **CheckIns:** Simple log (Date, Patient, Week, Summary, Follow-up)\n\n### Follow-up Alerts:\nTeam receives full context: patient message, AI summary, Diana's response"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Weekly Check-in Schedule": {
      "main": [
        [
          {
            "node": "Get Active Patients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Patients": {
      "main": [
        [
          {
            "node": "Filter Active Patients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Active Patients": {
      "main": [
        [
          {
            "node": "Prepare Patient Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Patient Context": {
      "main": [
        [
          {
            "node": "Check-in AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check-in AI Agent": {
      "main": [
        [
          {
            "node": "Send Check-in Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Haiku 4.5 (Check-in)": {
      "ai_languageModel": [
        [
          {
            "node": "Check-in AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Check-in AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tirzepatide Knowledge Tool": {
      "ai_tool": [
        [
          {
            "node": "Check-in AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Tirzepatide Knowledge Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model (RAG)": {
      "ai_languageModel": [
        [
          {
            "node": "Tirzepatide Knowledge Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send Check-in Message": {
      "main": [
        [
          {
            "node": "Deduct Remaining Week",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduct Remaining Week": {
      "main": [
        [
          {
            "node": "Check Treatment Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Treatment Status": {
      "main": [
        [
          {
            "node": "Mark Treatment Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Team - 2 Weeks Remaining",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Mark Treatment Complete": {
      "main": [
        [
          {
            "node": "Notify Team - Final Week",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Response Trigger": {
      "main": [
        [
          {
            "node": "Handle Response Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Response Type": {
      "main": [
        [
          {
            "node": "Lookup Patient",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Unsupported Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Patient": {
      "main": [
        [
          {
            "node": "Is Known Patient?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Known Patient?": {
      "main": [
        [
          {
            "node": "Prepare Response Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Unknown Patient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response Context": {
      "main": [
        [
          {
            "node": "Response AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Haiku 4.5 (Response)": {
      "ai_languageModel": [
        [
          {
            "node": "Response AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory (Response)": {
      "ai_memory": [
        [
          {
            "node": "Response AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tirzepatide Knowledge (Response)": {
      "ai_tool": [
        [
          {
            "node": "Response AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store (Response)": {
      "ai_vectorStore": [
        [
          {
            "node": "Tirzepatide Knowledge (Response)",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings (Response)": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store (Response)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model (Response RAG)": {
      "ai_languageModel": [
        [
          {
            "node": "Tirzepatide Knowledge (Response)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Send Response to Patient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Response to Patient": {
      "main": [
        [
          {
            "node": "Log Check-in Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Check-in Summary": {
      "main": [
        [
          {
            "node": "Needs Follow-up?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Follow-up?": {
      "main": [
        [
          {
            "node": "Notify Team - Follow-up Needed",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Patient Check-in",
      "id": "10"
    },
    {
      "name": "Tirzepatide",
      "id": "11"
    },
    {
      "name": "WhatsApp",
      "id": "2"
    },
    {
      "name": "AI Agent",
      "id": "3"
    },
    {
      "name": "Google Sheets",
      "id": "12"
    }
  ],
  "pinData": {}
}
