workflows/sofia-zapi-flow.json
{
  "name": "Sofia Z-API Flow - WhatsApp AI Assistant",
  "meta": {
    "instanceId": "sofia-zapi-flow-haiku",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "zapi-webhook",
      "name": "Z-API Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [220, 340],
      "webhookId": "sofia-zapi-webhook",
      "parameters": {
        "httpMethod": "POST",
        "path": "sofia-zapi",
        "options": {
          "responseMode": "onReceived",
          "responseCode": 200
        }
      },
      "typeVersion": 2
    },
    {
      "id": "filter-incoming",
      "name": "Filter Incoming Messages",
      "type": "n8n-nodes-base.if",
      "position": [400, 340],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "is-incoming",
              "leftValue": "={{ $json.body.fromMe }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "is-message-callback",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "ReceivedCallback",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "normalize-payload",
      "name": "Normalize Z-API Payload",
      "type": "n8n-nodes-base.code",
      "position": [580, 340],
      "parameters": {
        "jsCode": "// Normalize Z-API payload to internal format\nconst zapiData = $input.first().json.body;\n\n// Determine message type\nlet messageType = 'text';\nlet messageContent = '';\nlet mediaUrl = null;\nlet mediaId = null;\n\nif (zapiData.text?.message) {\n  messageType = 'text';\n  messageContent = zapiData.text.message;\n} else if (zapiData.audio) {\n  messageType = 'audio';\n  mediaUrl = zapiData.audio.audioUrl;\n  mediaId = zapiData.audio.id || zapiData.messageId;\n} else if (zapiData.video) {\n  messageType = 'video';\n  mediaUrl = zapiData.video.videoUrl;\n  mediaId = zapiData.video.id || zapiData.messageId;\n  messageContent = zapiData.video.caption || '';\n} else if (zapiData.image) {\n  messageType = 'image';\n  mediaUrl = zapiData.image.imageUrl;\n  mediaId = zapiData.image.id || zapiData.messageId;\n  messageContent = zapiData.image.caption || '';\n} else if (zapiData.document) {\n  messageType = 'document';\n  mediaUrl = zapiData.document.documentUrl;\n  mediaId = zapiData.document.id || zapiData.messageId;\n} else if (zapiData.sticker) {\n  messageType = 'sticker';\n  mediaUrl = zapiData.sticker.stickerUrl;\n} else if (zapiData.location) {\n  messageType = 'location';\n} else if (zapiData.contact) {\n  messageType = 'contacts';\n}\n\n// Extract phone number (remove @c.us suffix if present)\nconst rawPhone = zapiData.phone || '';\nconst phone = rawPhone.replace(/@c\\.us$/, '').replace(/@s\\.whatsapp\\.net$/, '');\n\n// Extract contact name from pushName\nconst contactName = zapiData.senderName || zapiData.pushName || 'Visitante';\n\nreturn {\n  // Normalized message data\n  messageType: messageType,\n  messageContent: messageContent,\n  mediaUrl: mediaUrl,\n  mediaId: mediaId,\n  \n  // Contact info\n  phone: phone,\n  contactName: contactName,\n  \n  // Original Z-API data for reference\n  messageId: zapiData.messageId,\n  instanceId: zapiData.instanceId,\n  timestamp: zapiData.momment || zapiData.timestamp || Date.now(),\n  \n  // Raw data for debugging\n  _raw: zapiData\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "handle-message-types",
      "name": "Handle Message Types",
      "type": "n8n-nodes-base.switch",
      "position": [780, 340],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "Text Message",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "text"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "Video Message",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "video"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "Audio Message",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "audio"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "Unsupported",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "or",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "image"
                  },
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "sticker"
                  },
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "document"
                  },
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "location"
                  },
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "contacts"
                  }
                ]
              },
              "renameOutput": true
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 3.2
    },
    {
      "id": "reply-unsupported",
      "name": "Reply Unsupported Type",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1000, 520],
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3EC04C74103F520C7617EABC5DBE07BF/token/D3E937B4745887EF70F6F4F2/send-text",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "F7db9cb64a63f46ee85508323ce7b0ae3S"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('Normalize Z-API Payload').item.json.phone }}\",\n  \"message\": \"Ola! 💚 No momento, consigo processar mensagens de texto, audio e video. Por favor, envie sua pergunta em um desses formatos e terei prazer em ajudar!\"\n}",
        "options": {}
      },
      "typeVersion": 4.2
    },
    {
      "id": "prepare-text-for-agent",
      "name": "Prepare Text for Agent",
      "type": "n8n-nodes-base.code",
      "position": [1000, 340],
      "parameters": {
        "jsCode": "// Prepare text message for AI Agent\nconst normalizedData = $input.first().json;\n\nreturn {\n  text: normalizedData.messageContent,\n  phone: normalizedData.phone,\n  contactName: normalizedData.contactName,\n  instanceId: normalizedData.instanceId,\n  messageId: normalizedData.messageId,\n  messageType: normalizedData.messageType\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "sofia-ai-agent",
      "name": "Sofia AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [1220, 340],
      "parameters": {
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "# Sofia - Assistente de Qualificacao de Leads\n\nVoce e Sofia, assistente virtual de uma clinica de medicina do emagrecimento. Seu objetivo e qualificar leads e agendar consultas.\n\n## Contexto do Lead\n- Telefone: {{ $json.phone }}\n- Nome do contato: {{ $json.contactName }}\n\n## Comunicacao - REGRAS IMPORTANTES\n- Portugues brasileiro, tom profissional e acolhedor\n- SEM EMOJIS (nenhum emoji em nenhuma mensagem)\n- Mensagens curtas e diretas\n- NUNCA repita uma pergunta que o lead ignorou - siga em frente e tente novamente mais tarde ou aceite que ele nao quer responder\n- Se o lead mudar de assunto, acompanhe e retome quando apropriado\n\n## Ferramenta Disponivel\nUse **query_knowledge_base** para buscar informacoes sobre tratamentos, precos, metodologia e objecoes.\n\n## Fluxo da Conversa\n\n### 1. Boas-vindas\nApenas na primeira mensagem:\n\"Ola! Sou a Sofia, da clinica de emagrecimento. Vi seu interesse pelo nosso anuncio. Como posso ajudar?\"\n\n### 2. Descoberta (opcional, se o lead quiser conversar)\n- Entenda os objetivos do lead\n- Responda duvidas usando a knowledge base\n- Nao force - se ele quiser ir direto ao agendamento, va\n\n### 3. Agendamento - FORMULARIO COMPLETO\nQuando o lead demonstrar interesse em agendar, envie o formulario COMPLETO de uma vez:\n\n\"Otimo! Para agendar sua consulta, preciso de algumas informacoes. Por favor, me envie:\n\n1. Nome completo\n2. CPF\n3. Data de nascimento\n4. Email\n5. Endereco completo com CEP\n\nPode mandar tudo em uma mensagem ou aos poucos, como preferir.\"\n\n### 4. Coletando os dados\n- Aceite os dados na ordem que o lead enviar\n- Se ele enviar parcial, agradeca e liste apenas o que falta\n- NAO repita pedidos - se ele ignorou um campo 2x, siga em frente\n- Exemplo: \"Obrigada! Recebi seu nome e CPF. Ainda falta: email, data de nascimento e endereco com CEP.\"\n\n### 5. Transferencia\nQuando tiver os dados (mesmo que parciais apos 2 tentativas), finalize:\n\n\"Perfeito! Vou transferir para nossa equipe confirmar o horario. Entraremos em contato em breve.\n\n[DADOS_LEAD]\nNOME_COMPLETO: [dado ou 'Nao informado']\nTELEFONE: {{ $json.phone }}\nCPF: [dado ou 'Nao informado']\nDATA_NASCIMENTO: [dado ou 'Nao informado']\nEMAIL: [dado ou 'Nao informado']\nENDERECO: [dado ou 'Nao informado']\n[/DADOS_LEAD]\n[AGENDAR_CONSULTA]\"\n\n## Regras de Preco\nQuando perguntarem sobre valores, diga:\n\"Os protocolos comecam a partir de R$700, que inclui a consulta com avaliacao completa, bioimpedancia e protocolo personalizado. O valor total depende do plano indicado pelo medico na consulta.\"\n\nNUNCA mencione valores especificos de tratamento - apenas que \"comeca a partir de\".\n\n## Transferencia Imediata [TRANSFERIR_HUMANO]\nUse quando:\n- Gravidez/amamentacao\n- Condicoes medicas serias\n- Lead pede humano\n- Lead frustrado (2+ mensagens negativas)\n\n## REGRA CRITICA: Nao Seja Insistente\n- Perguntou e nao respondeu? Siga em frente.\n- Mudou de assunto? Acompanhe.\n- Quer agendar sem dar todos os dados? Tente UMA vez pedir o formulario, se recusar novamente, transfira com os dados que tem.\n- O lead esta no controle da conversa, nao voce."
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "haiku-model",
      "name": "Claude Haiku 4.5",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [1220, 560],
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-haiku-4-5-20241022",
          "mode": "list"
        },
        "options": {
          "maxTokensToSample": 1024,
          "temperature": 0.7
        }
      },
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-creds",
          "name": "Anthropic"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "window-buffer-memory",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [1360, 560],
      "parameters": {
        "sessionKey": "=sofia-zapi-{{ $('Prepare Text for Agent').item.json.phone }}",
        "sessionIdType": "customKey",
        "contextWindowLength": 50
      },
      "typeVersion": 1.2
    },
    {
      "id": "vector-store-tool",
      "name": "Knowledge Base RAG Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [1500, 560],
      "parameters": {
        "name": "query_knowledge_base",
        "description": "Use this tool to search the clinic's knowledge base for information about treatments, pricing, methodology, FAQ, objections handling, and compliance. Always search when the user asks about the clinic, treatments, prices, procedures, or has objections.",
        "topK": 4
      },
      "typeVersion": 1
    },
    {
      "id": "qdrant-vector-store",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [1500, 740],
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "clinic_knowledge_base",
          "mode": "list"
        },
        "options": {}
      },
      "credentials": {
        "qdrantApi": {
          "id": "qdrant-creds",
          "name": "Qdrant"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "embeddings-openai",
      "name": "OpenAI Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [1640, 740],
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "openai-creds",
          "name": "OpenAI"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "openai-model-vectorstore",
      "name": "OpenAI Chat Model (Vector Store)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [1780, 740],
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "openai-creds",
          "name": "OpenAI"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "process-response",
      "name": "Process Response",
      "type": "n8n-nodes-base.code",
      "position": [1460, 340],
      "parameters": {
        "jsCode": "// Process Sofia's response and detect handoff triggers\nconst agentOutput = $input.first().json.output || '';\nconst preparedData = $('Prepare Text for Agent').first().json;\nconst normalizedData = $('Normalize Z-API Payload').first().json;\n\n// Check for scheduling handoff tag\nconst needsScheduling = agentOutput.includes('[AGENDAR_CONSULTA]');\nconst needsHumanTransfer = agentOutput.includes('[TRANSFERIR_HUMANO]');\n\n// Extract lead data block if present\nlet leadData = {\n  nomeCompleto: '',\n  telefone: '',\n  cpf: '',\n  dataNascimento: '',\n  email: '',\n  endereco: ''\n};\n\nconst dataBlockMatch = agentOutput.match(/\\[DADOS_LEAD\\]([\\s\\S]*?)\\[\\/DADOS_LEAD\\]/);\nif (dataBlockMatch) {\n  const dataBlock = dataBlockMatch[1];\n  \n  // Parse each field\n  const nomeMatch = dataBlock.match(/NOME_COMPLETO:\\s*(.+?)(?:\\n|$)/);\n  const telefoneMatch = dataBlock.match(/TELEFONE:\\s*(.+?)(?:\\n|$)/);\n  const cpfMatch = dataBlock.match(/CPF:\\s*(.+?)(?:\\n|$)/);\n  const dataMatch = dataBlock.match(/DATA_NASCIMENTO:\\s*(.+?)(?:\\n|$)/);\n  const emailMatch = dataBlock.match(/EMAIL:\\s*(.+?)(?:\\n|$)/);\n  const enderecoMatch = dataBlock.match(/ENDERECO:\\s*(.+?)(?:\\n|$)/);\n  \n  leadData.nomeCompleto = nomeMatch ? nomeMatch[1].trim() : '';\n  leadData.telefone = telefoneMatch ? telefoneMatch[1].trim() : '';\n  leadData.cpf = cpfMatch ? cpfMatch[1].trim() : '';\n  leadData.dataNascimento = dataMatch ? dataMatch[1].trim() : '';\n  leadData.email = emailMatch ? emailMatch[1].trim() : '';\n  leadData.endereco = enderecoMatch ? enderecoMatch[1].trim() : '';\n}\n\n// Remove the tags and data block from the message sent to user\nlet cleanMessage = agentOutput\n  .replace(/\\[DADOS_LEAD\\][\\s\\S]*?\\[\\/DADOS_LEAD\\]/g, '')\n  .replace('[AGENDAR_CONSULTA]', '')\n  .replace('[TRANSFERIR_HUMANO]', '')\n  .trim();\n\n// Use collected data or fallback to normalized data\nconst finalLeadData = {\n  nomeCompleto: leadData.nomeCompleto || preparedData.contactName,\n  telefone: leadData.telefone || preparedData.phone,\n  cpf: leadData.cpf || 'Nao informado',\n  dataNascimento: leadData.dataNascimento || 'Nao informado',\n  email: leadData.email || 'Nao informado',\n  endereco: leadData.endereco || 'Nao informado'\n};\n\nreturn {\n  // Message to send to lead\n  responseMessage: cleanMessage,\n  \n  // Lead qualification data\n  leadData: finalLeadData,\n  \n  // Basic info\n  leadPhone: preparedData.phone,\n  leadName: finalLeadData.nomeCompleto,\n  lastMessage: preparedData.text,\n  \n  // Handoff flags\n  needsScheduling: needsScheduling,\n  needsHumanTransfer: needsHumanTransfer,\n  needsHandoff: needsScheduling || needsHumanTransfer,\n  \n  // Handoff type for notification\n  handoffType: needsScheduling ? 'AGENDAMENTO' : (needsHumanTransfer ? 'TRANSFERENCIA' : null),\n  \n  // Z-API metadata\n  instanceId: normalizedData.instanceId\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "reply-to-user",
      "name": "Reply To User",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1680, 340],
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3EC04C74103F520C7617EABC5DBE07BF/token/D3E937B4745887EF70F6F4F2/send-text",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "F7db9cb64a63f46ee85508323ce7b0ae3S"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $json.leadPhone }}\",\n  \"message\": {{ JSON.stringify($json.responseMessage) }}\n}",
        "options": {}
      },
      "typeVersion": 4.2
    },
    {
      "id": "check-handoff",
      "name": "Needs Handoff?",
      "type": "n8n-nodes-base.if",
      "position": [1900, 340],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-handoff-flag",
              "leftValue": "={{ $('Process Response').item.json.needsHandoff }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "notify-human-support",
      "name": "Notify Human Support",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2120, 240],
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3EC04C74103F520C7617EABC5DBE07BF/token/D3E937B4745887EF70F6F4F2/send-text",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "F7db9cb64a63f46ee85508323ce7b0ae3S"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"5511999724691\",\n  \"message\": \"🔔 *NOVO LEAD PRONTO PARA {{ $('Process Response').item.json.handoffType }}*\\n\\n━━━━━━━━━━━━━━━━━━━━━━\\n📋 *DADOS DO LEAD*\\n━━━━━━━━━━━━━━━━━━━━━━\\n\\n👤 *Nome Completo:*\\n{{ $('Process Response').item.json.leadData.nomeCompleto }}\\n\\n📱 *Telefone:*\\n{{ $('Process Response').item.json.leadData.telefone }}\\n\\n🪪 *CPF:*\\n{{ $('Process Response').item.json.leadData.cpf }}\\n\\n🎂 *Data de Nascimento:*\\n{{ $('Process Response').item.json.leadData.dataNascimento }}\\n\\n📧 *Email:*\\n{{ $('Process Response').item.json.leadData.email }}\\n\\n📍 *Endereco com CEP:*\\n{{ $('Process Response').item.json.leadData.endereco }}\\n\\n━━━━━━━━━━━━━━━━━━━━━━\\n💬 *CONVERSA*\\n━━━━━━━━━━━━━━━━━━━━━━\\n\\n*Ultima mensagem do lead:*\\n{{ $('Process Response').item.json.lastMessage }}\\n\\n*Resposta da Sofia:*\\n{{ $('Process Response').item.json.responseMessage }}\\n\\n━━━━━━━━━━━━━━━━━━━━━━\\n✅ _Por favor, entre em contato com o lead para finalizar o agendamento._\"\n}",
        "options": {}
      },
      "typeVersion": 4.2
    },
    {
      "id": "download-video-media",
      "name": "Download Video Media",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1000, 680],
      "parameters": {
        "url": "={{ $json.mediaUrl }}",
        "method": "GET",
        "authentication": "none",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "download-audio-media",
      "name": "Download Audio Media",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1000, 840],
      "parameters": {
        "url": "={{ $json.mediaUrl }}",
        "method": "GET",
        "authentication": "none",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "transcribe-video",
      "name": "Transcribe Video",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [1220, 680],
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "data",
        "options": {
          "language": "pt",
          "responseFormat": "text"
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "openai-creds",
          "name": "OpenAI"
        }
      },
      "typeVersion": 1.8
    },
    {
      "id": "transcribe-audio",
      "name": "Transcribe Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [1220, 840],
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "data",
        "options": {
          "language": "pt",
          "responseFormat": "text"
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "openai-creds",
          "name": "OpenAI"
        }
      },
      "typeVersion": 1.8
    },
    {
      "id": "format-video-transcription",
      "name": "Format Video Transcription",
      "type": "n8n-nodes-base.code",
      "position": [1440, 680],
      "parameters": {
        "jsCode": "// Format video transcription for the AI agent\nconst transcription = $input.first().json.text || '';\nconst normalizedData = $('Normalize Z-API Payload').first().json;\n\nreturn {\n  text: `[Mensagem de Video Transcrita]\\n\\n${transcription}`,\n  phone: normalizedData.phone,\n  contactName: normalizedData.contactName,\n  instanceId: normalizedData.instanceId,\n  messageId: normalizedData.messageId,\n  messageType: 'video_transcription'\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "format-audio-transcription",
      "name": "Format Audio Transcription",
      "type": "n8n-nodes-base.code",
      "position": [1440, 840],
      "parameters": {
        "jsCode": "// Format audio transcription for the AI agent\nconst transcription = $input.first().json.text || '';\nconst normalizedData = $('Normalize Z-API Payload').first().json;\n\nreturn {\n  text: `[Mensagem de Audio Transcrita]\\n\\n${transcription}`,\n  phone: normalizedData.phone,\n  contactName: normalizedData.contactName,\n  instanceId: normalizedData.instanceId,\n  messageId: normalizedData.messageId,\n  messageType: 'audio_transcription'\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "sticky-note-main",
      "name": "Main Workflow Info",
      "type": "n8n-nodes-base.stickyNote",
      "position": [120, 60],
      "parameters": {
        "color": 7,
        "width": 600,
        "height": 380,
        "content": "## Sofia Z-API - Lead Qualification Bot (Claude Haiku 4.5)\n\nThis workflow qualifies leads from Meta Ads using **Z-API** instead of official WhatsApp Cloud API:\n\n1. **Receives** webhook from Z-API\n2. **Normalizes** Z-API payload to internal format\n3. **Transcribes** video and audio using OpenAI Whisper\n4. **Qualifies** leads through natural conversation\n5. **Notifies** human support when ready to schedule\n\n### Hardcoded Z-API Config:\n- **Instance:** 3EC04C74103F520C7617EABC5DBE07BF\n- **Support Phone:** 5511999724691\n\n### Credentials Required:\n- Anthropic API (Claude Haiku)\n- OpenAI API (Whisper + embeddings)\n- Qdrant API (vector store)\n\n### Z-API Webhook Configuration:\nPoint your Z-API instance webhook to:\n`https://your-n8n-url/webhook/sofia-zapi`"
      },
      "typeVersion": 1
    },
    {
      "id": "sticky-note-handoff",
      "name": "Handoff Info",
      "type": "n8n-nodes-base.stickyNote",
      "position": [2020, 60],
      "parameters": {
        "color": 5,
        "width": 320,
        "height": 160,
        "content": "### Human Handoff\nWhen Sofia detects the lead wants to schedule:\n1. Sends response to lead via Z-API\n2. Notifies human support via Z-API\n3. Support team contacts lead to finalize scheduling"
      },
      "typeVersion": 1
    },
    {
      "id": "sticky-note-normalize",
      "name": "Normalize Info",
      "type": "n8n-nodes-base.stickyNote",
      "position": [480, 180],
      "parameters": {
        "color": 6,
        "width": 280,
        "height": 140,
        "content": "### Payload Normalization\n\nZ-API has a different payload format than WhatsApp Cloud API. This node normalizes it to a common internal format used throughout the workflow."
      },
      "typeVersion": 1
    },
    {
      "id": "sticky-note-ai-agent",
      "name": "AI Agent Info",
      "type": "n8n-nodes-base.stickyNote",
      "position": [1120, 140],
      "parameters": {
        "color": 7,
        "width": 320,
        "height": 180,
        "content": "## Sofia AI Agent\n\n- **Claude Haiku 4.5** for fast responses\n- **50 messages** conversation memory\n- **RAG** for accurate clinic info\n- Uses `[AGENDAR_CONSULTA]` tag to trigger handoff"
      },
      "typeVersion": 1
    },
    {
      "id": "sticky-note-transcription",
      "name": "Transcription Info",
      "type": "n8n-nodes-base.stickyNote",
      "position": [900, 560],
      "parameters": {
        "color": 6,
        "width": 380,
        "height": 180,
        "content": "### Video & Audio Transcription\n\n**Z-API Advantage:** Direct media URLs!\nUnlike WhatsApp Cloud API, Z-API provides direct download URLs for media, so no separate media ID lookup is needed.\n\n**Process:**\n1. Download media from Z-API URL\n2. Transcribe with OpenAI Whisper (Portuguese)\n3. Pass transcription to Sofia AI Agent"
      },
      "typeVersion": 1
    },
    {
      "id": "sticky-note-qdrant",
      "name": "Qdrant Info",
      "type": "n8n-nodes-base.stickyNote",
      "position": [1420, 900],
      "parameters": {
        "color": 5,
        "width": 400,
        "height": 100,
        "content": "### Persistent Vector Store (Qdrant)\nUses the `clinic_knowledge_base` collection populated by the embedding script. Shared with other agents."
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Z-API Webhook": {
      "main": [
        [
          {
            "node": "Filter Incoming Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Incoming Messages": {
      "main": [
        [
          {
            "node": "Normalize Z-API Payload",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Normalize Z-API Payload": {
      "main": [
        [
          {
            "node": "Handle Message Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Message Types": {
      "main": [
        [
          {
            "node": "Prepare Text for Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Video Media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Audio Media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Unsupported Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Text for Agent": {
      "main": [
        [
          {
            "node": "Sofia AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video Media": {
      "main": [
        [
          {
            "node": "Transcribe Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio Media": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Video": {
      "main": [
        [
          {
            "node": "Format Video Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Format Audio Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Video Transcription": {
      "main": [
        [
          {
            "node": "Sofia AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Audio Transcription": {
      "main": [
        [
          {
            "node": "Sofia AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sofia AI Agent": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Response": {
      "main": [
        [
          {
            "node": "Reply To User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply To User": {
      "main": [
        [
          {
            "node": "Needs Handoff?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Handoff?": {
      "main": [
        [
          {
            "node": "Notify Human Support",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Claude Haiku 4.5": {
      "ai_languageModel": [
        [
          {
            "node": "Sofia AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Sofia AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base RAG Tool": {
      "ai_tool": [
        [
          {
            "node": "Sofia AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Knowledge Base RAG Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model (Vector Store)": {
      "ai_languageModel": [
        [
          {
            "node": "Knowledge Base RAG Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Sofia",
      "id": "1"
    },
    {
      "name": "Z-API",
      "id": "7"
    },
    {
      "name": "AI Agent",
      "id": "3"
    },
    {
      "name": "RAG",
      "id": "4"
    },
    {
      "name": "Haiku",
      "id": "5"
    },
    {
      "name": "Lead Qualification",
      "id": "6"
    }
  ],
  "pinData": {}
}
