workflows/sofia-standalone.json
{
  "name": "Sofia Evolution - Standalone Lead Qualification",
  "meta": {
    "instanceId": "sofia-evolution-standalone",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "evolution-webhook",
      "name": "Evolution Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [220, 340],
      "webhookId": "sofia-evolution-webhook",
      "parameters": {
        "httpMethod": "POST",
        "path": "sofia-evolution",
        "options": {
          "responseMode": "onReceived",
          "responseCode": 200
        }
      },
      "typeVersion": 2
    },
    {
      "id": "filter-message-events",
      "name": "Is Message Event?",
      "type": "n8n-nodes-base.if",
      "position": [420, 340],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-message-event",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "filter-incoming",
      "name": "Is Incoming Message?",
      "type": "n8n-nodes-base.if",
      "position": [620, 340],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "not-from-me",
              "leftValue": "={{ $json.body.data?.key?.fromMe }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "normalize-payload",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "position": [820, 340],
      "parameters": {
        "jsCode": "// Normalize Evolution API payload\nconst webhookData = $input.first().json.body;\nconst data = webhookData.data || {};\nconst key = data.key || {};\nconst message = data.message || {};\n\n// Extract phone number from remoteJid\nconst remoteJid = key.remoteJid || '';\nconst phone = remoteJid\n  .replace('@s.whatsapp.net', '')\n  .replace('@c.us', '')\n  .replace('@g.us', '')\n  .replace(/^\\+/, '');\n\n// Determine message type and extract content\nlet messageType = 'unsupported';\nlet messageText = '';\nlet mediaData = null;\n\nif (message.conversation) {\n  messageType = 'text';\n  messageText = message.conversation;\n} else if (message.extendedTextMessage?.text) {\n  messageType = 'text';\n  messageText = message.extendedTextMessage.text;\n} else if (message.audioMessage) {\n  messageType = 'audio';\n  mediaData = message.audioMessage;\n} else if (message.videoMessage) {\n  messageType = 'video';\n  mediaData = message.videoMessage;\n} else if (message.imageMessage) {\n  messageType = 'image';\n  mediaData = message.imageMessage;\n} else if (message.documentMessage) {\n  messageType = 'document';\n  mediaData = message.documentMessage;\n} else if (message.stickerMessage) {\n  messageType = 'sticker';\n} else if (message.locationMessage) {\n  messageType = 'location';\n}\n\nreturn {\n  // Core message data\n  senderPhone: phone,\n  senderName: data.pushName || phone,\n  messageId: key.id,\n  messageType: messageType,\n  messageText: messageText,\n  timestamp: new Date((data.messageTimestamp || 0) * 1000).toISOString(),\n  \n  // For media messages\n  mediaData: mediaData,\n  originalMessage: data,\n  \n  // Instance info from webhook\n  instanceName: webhookData.instance || 'sofia-instance'\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "handle-message-types",
      "name": "Handle Message Types",
      "type": "n8n-nodes-base.switch",
      "position": [1020, 340],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "Text Message",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "text"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "Audio Message",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "audio"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "Video Message",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "video"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "Unsupported",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "or",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "image"
                  },
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "sticker"
                  },
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "document"
                  },
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "location"
                  },
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "unsupported"
                  }
                ]
              },
              "renameOutput": true
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 3.2
    },
    {
      "id": "lookup-patient",
      "name": "Lookup Patient",
      "type": "n8n-nodes-base.googleSheets",
      "position": [1240, 340],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1y7dqc3Pelbk2ltn9Rm_iYmziw5wLddtiRtbg0vyBk70",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "AllPatients",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "PHONE",
              "lookupValue": "={{ $('Normalize Payload').first().json.senderPhone }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-creds",
          "name": "Google Sheets"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "is-patient",
      "name": "Is Patient?",
      "type": "n8n-nodes-base.if",
      "position": [1440, 340],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-patient-phone",
              "leftValue": "={{ $json.PHONE }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "lookup-lead",
      "name": "Lookup Lead",
      "type": "n8n-nodes-base.googleSheets",
      "position": [1640, 420],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1y7dqc3Pelbk2ltn9Rm_iYmziw5wLddtiRtbg0vyBk70",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "PHONE",
              "lookupValue": "={{ $('Normalize Payload').first().json.senderPhone }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-creds",
          "name": "Google Sheets"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "is-returning-lead",
      "name": "Is Returning Lead?",
      "type": "n8n-nodes-base.if",
      "position": [1840, 420],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-lead-phone",
              "leftValue": "={{ $json.PHONE }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "prepare-patient-context",
      "name": "Prepare Patient Context",
      "type": "n8n-nodes-base.code",
      "position": [1640, 180],
      "parameters": {
        "jsCode": "// Prepare patient context for AI agent\nconst patient = $('Lookup Patient').first().json;\nconst normalizedData = $('Normalize Payload').first().json;\n\n// Get message text - check for transcription first (audio/video paths)\nlet messageText = normalizedData.messageText || '';\nif (normalizedData.messageType === 'audio') {\n  try {\n    messageText = $('Format Audio Transcription').first().json.text || '';\n  } catch (e) { /* not audio path */ }\n} else if (normalizedData.messageType === 'video') {\n  try {\n    messageText = $('Format Video Transcription').first().json.text || '';\n  } catch (e) { /* not video path */ }\n}\n\nreturn {\n  text: messageText,\n  phone: normalizedData.senderPhone,\n  contactName: patient.NAME || normalizedData.senderName,\n  instanceName: normalizedData.instanceName,\n  messageId: normalizedData.messageId,\n  messageType: normalizedData.messageType,\n  senderType: 'patient',\n  patientData: {\n    name: patient.NAME || '',\n    email: patient.EMAIL || '',\n    cpf: patient.CPF || '',\n    dob: patient.DOB || '',\n    treatmentType: patient.TREATMENT_TYPE || '',\n    status: patient.STATUS || '',\n    registrationDate: patient.REGISTRATION_DATE || '',\n    notes: patient.NOTES || ''\n  }\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "patient-ai-agent",
      "name": "Patient AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [1860, 180],
      "parameters": {
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "# Sofia - Secretaria Virtual da Leitner Saude (Modo Paciente)\n\nVoce e Sofia, secretaria virtual da Leitner Saude. Voce esta atendendo um PACIENTE registrado.\n\n## Equipe da Leitner Saude\n- **Medico**: Dr. Guilherme Leitner - especialista em emagrecimento, responsavel por receitas, ajustes de dose, questoes medicas\n- **Secretaria**: Beth - responsavel por agendamentos, pagamentos, questoes administrativas\n\n## Contexto do Paciente\n- Nome: {{ $json.patientData.name }}\n- Tipo Tratamento: {{ $json.patientData.treatmentType }}\n- Status: {{ $json.patientData.status }}\n\n## Comportamento\n- Identifique-se como secretaria virtual\n- Acolha o paciente pelo nome\n- SEM emojis\n- Mensagens curtas e acolhedoras\n- Quando encaminhar, mencione o nome da pessoa (Dr. Guilherme ou Beth)\n\n## FERRAMENTA RAG - OBRIGATORIO\n**SEMPRE use query_knowledge_base ANTES de responder sobre:**\n- Protocolo de doses (Tirzepatida: 2.5mg, 5mg, 7.5mg, 10mg, 15mg)\n- Efeitos colaterais: nausea, vomito, diarreia, constipacao, fadiga\n- Como manejar efeitos colaterais (porcoes menores, hidratacao, etc)\n- Dia e horario de aplicacao da injecao\n- Armazenamento do medicamento (refrigerado 2-8C)\n- O que fazer se esquecer uma dose\n- Alimentacao durante tratamento\n- Quando alertar a equipe medica\n\n**IMPORTANTE:**\n- Se o RAG retornar informacao, RESPONDA diretamente (requires_handoff: false)\n- Se NAO encontrar resposta ou for caso medico especifico, encaminhe (requires_handoff: true)\n- NAO invente informacoes sobre doses ou medicamentos\n\n## Classificacao de Urgencia\n**URGENTE** - Vomito persistente >24h, dor abdominal intensa, reacao alergica, hipoglicemia, paciente em distress\n**NORMAL** - Agendamento, reagendamento, renovacao, duvidas sobre tratamento\n**BAIXA** - Informacoes gerais, feedback positivo\n\n## Tipo de Encaminhamento (handoff_to)\n**doctor** - Dr. Guilherme: Receitas, ajuste de dose, questoes MEDICAS, sintomas preocupantes\n**secretary** - Beth: Agendamento, reagendamento, pagamentos, questoes ADMINISTRATIVAS\n\n## Formato de Resposta OBRIGATORIO\n```json\n{\n  \"message\": \"Sua resposta ao paciente\",\n  \"urgency\": \"urgent|normal|low\",\n  \"request_type\": \"Categoria da solicitacao\",\n  \"summary\": \"Resumo em 1 frase\",\n  \"requires_handoff\": true,\n  \"handoff_to\": \"doctor|secretary|null\",\n  \"handoff_reason\": \"Motivo do encaminhamento ou null\"\n}\n```\n\n**Regra de requires_handoff:**\n- false: Se voce conseguiu responder usando a base de conhecimento\n- true: Se precisa de acao humana (receita, agendamento, caso medico)\n\n## Primeira Mensagem\n\"Ola {{ $json.patientData.name }}! Sou a Sofia, secretaria virtual. Como posso ajudar?\""
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "patient-model",
      "name": "Claude Haiku (Patient)",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [1860, 400],
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-haiku-4-5-20241022",
          "mode": "list"
        },
        "options": {
          "maxTokensToSample": 1024,
          "temperature": 0.5
        }
      },
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-creds",
          "name": "Anthropic"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "patient-memory",
      "name": "Patient Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [2000, 400],
      "parameters": {
        "sessionKey": "=sofia-patient-{{ $('Normalize Payload').first().json.senderPhone }}",
        "sessionIdType": "customKey",
        "contextWindowLength": 10
      },
      "typeVersion": 1.2
    },
    {
      "id": "process-patient-response",
      "name": "Process Patient Response",
      "type": "n8n-nodes-base.code",
      "position": [2100, 180],
      "parameters": {
        "jsCode": "// Process patient AI response\nconst agentOutput = $input.first().json.output || '';\nconst patientContext = $('Prepare Patient Context').first().json;\n\n// Try to parse JSON response\nlet urgency = 'normal';\nlet requestType = 'Solicitacao geral';\nlet summary = '';\nlet cleanMessage = agentOutput;\nlet requiresHandoff = true;\nlet handoffTo = 'secretary';\nlet handoffReason = null;\n\ntry {\n  const jsonMatch = agentOutput.match(/```json\\n?([\\s\\S]*?)\\n?```/) || agentOutput.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const jsonStr = jsonMatch[1] || jsonMatch[0];\n    const parsed = JSON.parse(jsonStr);\n    urgency = parsed.urgency || 'normal';\n    requestType = parsed.request_type || 'Solicitacao geral';\n    summary = parsed.summary || '';\n    cleanMessage = parsed.message || agentOutput;\n    requiresHandoff = parsed.requires_handoff !== false;\n    handoffTo = parsed.handoff_to || 'secretary';\n    handoffReason = parsed.handoff_reason || null;\n  }\n} catch (e) {\n  cleanMessage = agentOutput.replace(/```json[\\s\\S]*?```/g, '').trim();\n}\n\nconst urgencyMap = { 'urgent': 'URGENTE', 'normal': 'NORMAL', 'low': 'BAIXA' };\n\n// Determine notification phone based on handoff type\nconst notifyPhone = handoffTo === 'doctor' ? '5511999724691' : '5511999986838';\nconst handoffLabel = handoffTo === 'doctor' ? 'DR. GUILHERME' : 'BETH';\n\nreturn {\n  responseMessage: cleanMessage,\n  patientPhone: patientContext.phone,\n  patientName: patientContext.patientData.name,\n  urgency: urgencyMap[urgency] || 'NORMAL',\n  requestType: requestType,\n  summary: summary || patientContext.text,\n  originalMessage: patientContext.text,\n  instanceName: patientContext.instanceName,\n  timestamp: new Date().toISOString(),\n  requiresHandoff: requiresHandoff,\n  handoffTo: handoffTo,\n  handoffLabel: handoffLabel,\n  handoffReason: handoffReason,\n  notifyPhone: notifyPhone\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "reply-patient",
      "name": "Reply To Patient",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2320, 180],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-9395.up.railway.app/message/sendText/whatsapp-teste",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.patientPhone }}\",\n  \"text\": {{ JSON.stringify($json.responseMessage) }}\n}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "evolution-api-creds",
          "name": "Evolution API"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "patient-needs-handoff",
      "name": "Patient Needs Handoff?",
      "type": "n8n-nodes-base.if",
      "position": [2540, 180],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-patient-handoff",
              "leftValue": "={{ $('Process Patient Response').first().json.requiresHandoff }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "prepare-patient-notification",
      "name": "Prepare Patient Notification",
      "type": "n8n-nodes-base.code",
      "position": [2740, 100],
      "parameters": {
        "jsCode": "// Prepare patient handoff notification\nconst data = $('Process Patient Response').first().json;\n\nconst message = `*ATENDIMENTO PACIENTE - ${data.handoffLabel}*\n\n*Urgencia:* ${data.urgency}\n*Paciente:* ${data.patientName}\n*Telefone:* ${data.patientPhone}\n*Tipo:* ${data.requestType}\n*Resumo:* ${data.summary}\n${data.handoffReason ? '*Motivo:* ' + data.handoffReason + '\\n' : ''}\n*Mensagem:* \"${data.originalMessage}\"\n*Hora:* ${data.timestamp}`;\n\nreturn {\n  number: data.notifyPhone,\n  text: message\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "notify-human-patient",
      "name": "Notify Human (Patient)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2960, 100],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-9395.up.railway.app/message/sendText/whatsapp-teste",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.number }}\",\n  \"text\": {{ JSON.stringify($json.text) }}\n}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "evolution-api-creds",
          "name": "Evolution API"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "prepare-new-lead-data",
      "name": "Prepare New Lead Data",
      "type": "n8n-nodes-base.code",
      "position": [2040, 540],
      "parameters": {
        "jsCode": "// Gather data from Normalize Payload for new lead creation\nconst normalizedData = $('Normalize Payload').first().json;\nconst now = new Date().toISOString();\n\nreturn {\n  PHONE: normalizedData.senderPhone || '',\n  NAME: '',\n  EMAIL: '',\n  CEP: '',\n  DOB: '',\n  CPF: '',\n  SOURCE: 'WhatsApp',\n  STAGE: 'greeting',\n  STATUS: 'active',\n  NOTES: '',\n  LAST_MESSAGE: normalizedData.messageText || '',\n  FIRST_CONTACT: now,\n  LAST_CONTACT: now,\n  // Follow-up tracking (initialized)\n  FOLLOW_UP_ATTEMPTS: '0',\n  LAST_FOLLOW_UP: '',\n  NEXT_FOLLOW_UP_HOUR: ''\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "create-lead-record",
      "name": "Create Lead Record",
      "type": "n8n-nodes-base.googleSheets",
      "position": [2240, 540],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1y7dqc3Pelbk2ltn9Rm_iYmziw5wLddtiRtbg0vyBk70",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-creds",
          "name": "Google Sheets"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "prepare-returning-lead-context",
      "name": "Prepare Returning Lead Context",
      "type": "n8n-nodes-base.code",
      "position": [2040, 340],
      "parameters": {
        "jsCode": "// Prepare returning lead context with previous data\nconst lead = $('Lookup Lead').first().json;\nconst normalizedData = $('Normalize Payload').first().json;\n\n// Get message text - check for transcription first (audio/video paths)\nlet messageText = normalizedData.messageText || '';\nif (normalizedData.messageType === 'audio') {\n  try {\n    messageText = $('Format Audio Transcription').first().json.text || '';\n  } catch (e) { /* not audio path */ }\n} else if (normalizedData.messageType === 'video') {\n  try {\n    messageText = $('Format Video Transcription').first().json.text || '';\n  } catch (e) { /* not video path */ }\n}\n\nreturn {\n  text: messageText,\n  phone: normalizedData.senderPhone,\n  contactName: lead.NAME || normalizedData.senderName,\n  instanceName: normalizedData.instanceName,\n  messageId: normalizedData.messageId,\n  messageType: normalizedData.messageType,\n  senderType: 'returning_lead',\n  leadData: {\n    name: lead.NAME || '',\n    email: lead.EMAIL || '',\n    cep: lead.CEP || '',\n    dob: lead.DOB || '',\n    cpf: lead.CPF || '',\n    source: lead.SOURCE || '',\n    stage: lead.STAGE || 'greeting',\n    status: lead.STATUS || 'active',\n    notes: lead.NOTES || '',\n    firstContact: lead.FIRST_CONTACT || '',\n    lastContact: lead.LAST_CONTACT || ''\n  }\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "prepare-new-lead-context",
      "name": "Prepare New Lead Context",
      "type": "n8n-nodes-base.code",
      "position": [2440, 540],
      "parameters": {
        "jsCode": "// Prepare new lead context\nconst normalizedData = $('Normalize Payload').first().json;\n\n// Get message text - check for transcription first (audio/video paths)\nlet messageText = normalizedData.messageText || '';\nif (normalizedData.messageType === 'audio') {\n  try {\n    messageText = $('Format Audio Transcription').first().json.text || '';\n  } catch (e) { /* not audio path */ }\n} else if (normalizedData.messageType === 'video') {\n  try {\n    messageText = $('Format Video Transcription').first().json.text || '';\n  } catch (e) { /* not video path */ }\n}\n\nreturn {\n  text: messageText,\n  phone: normalizedData.senderPhone,\n  contactName: normalizedData.senderName,\n  instanceName: normalizedData.instanceName,\n  messageId: normalizedData.messageId,\n  messageType: normalizedData.messageType,\n  senderType: 'new_lead',\n  leadData: {\n    name: '',\n    email: '',\n    cep: '',\n    dob: '',\n    cpf: '',\n    source: 'WhatsApp',\n    stage: 'greeting',\n    status: 'active',\n    notes: '',\n    firstContact: new Date().toISOString(),\n    lastContact: new Date().toISOString()\n  }\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "reply-unsupported",
      "name": "Reply Unsupported Type",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1240, 520],
      "parameters": {
        "method": "POST",
        "url": "=https://evolution-api-production-9395.up.railway.app/message/sendText/whatsapp-teste",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Normalize Payload').first().json.senderPhone }}\",\n  \"text\": \"Ola! No momento, consigo processar mensagens de texto, audio e video. Por favor, envie sua pergunta em um desses formatos.\"\n}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "evolution-api-creds",
          "name": "Evolution API"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "download-audio",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1240, 680],
      "parameters": {
        "method": "POST",
        "url": "=https://evolution-api-production-9395.up.railway.app/chat/getBase64FromMediaMessage/whatsapp-teste",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {{ JSON.stringify($json.originalMessage.message) }},\n  \"convertToMp4\": false\n}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "evolution-api-creds",
          "name": "Evolution API"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "download-video",
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1240, 840],
      "parameters": {
        "method": "POST",
        "url": "=https://evolution-api-production-9395.up.railway.app/chat/getBase64FromMediaMessage/whatsapp-teste",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {{ JSON.stringify($json.originalMessage.message) }},\n  \"convertToMp4\": true\n}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "evolution-api-creds",
          "name": "Evolution API"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "convert-audio-to-binary",
      "name": "Convert Audio to Binary",
      "type": "n8n-nodes-base.code",
      "position": [1440, 680],
      "parameters": {
        "jsCode": "const base64Data = $input.first().json.base64;\nconst normalizedData = $('Normalize Payload').first().json;\n\nif (!base64Data) {\n  throw new Error('No base64 data received from Evolution API');\n}\n\n// Convert base64 to binary\nconst binaryData = Buffer.from(base64Data, 'base64');\n\n// Return with binary data attached\nreturn {\n  json: {\n    phone: normalizedData.senderPhone,\n    contactName: normalizedData.senderName,\n    instanceName: normalizedData.instanceName,\n    messageId: normalizedData.messageId,\n    messageType: 'audio'\n  },\n  binary: {\n    data: {\n      data: base64Data,\n      mimeType: 'audio/ogg',\n      fileName: 'audio.ogg'\n    }\n  }\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "convert-video-to-binary",
      "name": "Convert Video to Binary",
      "type": "n8n-nodes-base.code",
      "position": [1440, 840],
      "parameters": {
        "jsCode": "const base64Data = $input.first().json.base64;\nconst normalizedData = $('Normalize Payload').first().json;\n\nif (!base64Data) {\n  throw new Error('No base64 data received from Evolution API');\n}\n\nreturn {\n  json: {\n    phone: normalizedData.senderPhone,\n    contactName: normalizedData.senderName,\n    instanceName: normalizedData.instanceName,\n    messageId: normalizedData.messageId,\n    messageType: 'video'\n  },\n  binary: {\n    data: {\n      data: base64Data,\n      mimeType: 'video/mp4',\n      fileName: 'video.mp4'\n    }\n  }\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "transcribe-audio",
      "name": "Transcribe Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [1640, 680],
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "data",
        "options": {
          "language": "pt",
          "responseFormat": "text"
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "openai-creds",
          "name": "OpenAI"
        }
      },
      "typeVersion": 1.8
    },
    {
      "id": "transcribe-video",
      "name": "Transcribe Video",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [1640, 840],
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "data",
        "options": {
          "language": "pt",
          "responseFormat": "text"
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "openai-creds",
          "name": "OpenAI"
        }
      },
      "typeVersion": 1.8
    },
    {
      "id": "format-audio-transcription",
      "name": "Format Audio Transcription",
      "type": "n8n-nodes-base.code",
      "position": [1840, 680],
      "parameters": {
        "jsCode": "const transcription = $input.first().json.text || '';\nconst normalizedData = $('Normalize Payload').first().json;\n\nreturn {\n  text: `[Mensagem de Audio Transcrita]\\n\\n${transcription}`,\n  phone: normalizedData.senderPhone,\n  contactName: normalizedData.senderName,\n  instanceName: normalizedData.instanceName,\n  messageId: normalizedData.messageId,\n  messageType: 'audio_transcription'\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "format-video-transcription",
      "name": "Format Video Transcription",
      "type": "n8n-nodes-base.code",
      "position": [1840, 840],
      "parameters": {
        "jsCode": "const transcription = $input.first().json.text || '';\nconst normalizedData = $('Normalize Payload').first().json;\n\nreturn {\n  text: `[Mensagem de Video Transcrita]\\n\\n${transcription}`,\n  phone: normalizedData.senderPhone,\n  contactName: normalizedData.senderName,\n  instanceName: normalizedData.instanceName,\n  messageId: normalizedData.messageId,\n  messageType: 'video_transcription'\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "sofia-ai-agent",
      "name": "Sofia AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [1460, 340],
      "parameters": {
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "# Sofia - Assistente Virtual da Leitner Saude\n\nVoce e Sofia, assistente virtual da Leitner Saude.\n\n## Equipe da Leitner Saude\n- **Medico**: Dr. Guilherme Leitner - especialista em emagrecimento e performance esportiva\n- **Secretaria**: Beth - responsavel por agendamentos e informacoes administrativas\n\n## Contexto do Lead\n- Telefone: {{ $json.phone }}\n- Nome: {{ $json.contactName }}\n- Tipo: {{ $json.senderType }}\n- Estagio atual: {{ $json.leadData.stage }}\n- Dados ja coletados:\n  - Nome: {{ $json.leadData.name || 'Nao informado' }}\n  - Email: {{ $json.leadData.email || 'Nao informado' }}\n  - CEP: {{ $json.leadData.cep || 'Nao informado' }}\n  - Data Nasc: {{ $json.leadData.dob || 'Nao informado' }}\n  - CPF: {{ $json.leadData.cpf || 'Nao informado' }}\n  - Origem: {{ $json.leadData.source || 'Nao informado' }}\n\n## REGRAS CRITICAS\n- NAO repita perguntas para dados ja coletados\n- Se lead retornando, use o nome e continue de onde parou\n- Se novo lead, inicie do zero\n- Profissional, acolhedora, concisa, SEM emojis\n- Mensagens curtas (max 2 paragrafos)\n- Quando encaminhar para humano, mencione que Beth entrara em contato\n\n## FERRAMENTA RAG - OBRIGATORIO\n**SEMPRE use query_knowledge_base ANTES de responder perguntas sobre:**\n- Tratamentos (Tirzepatida, Mounjaro, GLP-1, Lipedema)\n- Sobre a clinica, Dr. Guilherme, metodologia\n- Duracao da consulta, o que levar, jejum\n- Efeitos colaterais e como manejar\n- Preco da consulta (SOMENTE se perguntarem explicitamente)\n\n**NAO invente informacoes. Se o RAG nao retornar resposta, diga que vai verificar.**\n\n## FERRAMENTAS DE AGENDAMENTO - CALENDARIO\n\n**IMPORTANTE: Voce pode agendar consultas diretamente!**\n\n### Quando usar check_calendar_availability:\n- Lead pergunta sobre horarios disponiveis\n- Lead quer agendar consulta\n- Lead pergunta \"quando posso ir?\", \"tem vaga?\", \"quais horarios?\"\n- Estagio atual e 'scheduling' ou lead demonstra interesse em agendar\n\nUso: { \"operation\": \"check_availability\", \"date\": \"YYYY-MM-DD\" }\nSe nao souber a data, omita o campo date para ver proximos 7 dias.\n\n### Quando usar book_appointment:\n- SOMENTE apos lead CONFIRMAR um horario especifico\n- SOMENTE se voce tem o NOME do lead coletado\n- Lead disse \"quero esse horario\", \"pode ser as 14h\", \"confirmo\"\n\nUso: { \"operation\": \"book_appointment\", \"datetime\": \"YYYY-MM-DDTHH:MM:00\", \"name\": \"Nome do Lead\", \"phone\": \"{{ $json.phone }}\" }\n\n### Fluxo de Agendamento:\n1. Lead demonstra interesse -> Verifique disponibilidade com check_calendar_availability\n2. Apresente os horarios disponiveis de forma clara\n3. Lead escolhe horario -> Confirme os dados (nome, horario)\n4. Lead confirma -> Use book_appointment para agendar\n5. Confirme o agendamento e informe proximos passos\n\n**NUNCA agende sem confirmacao explicita do lead!**\n\n## ESTRATEGIA DE VALOR - MUITO IMPORTANTE\nQuando o lead perguntar sobre tratamento, protocolo ou metodologia:\n\n**1. PRIMEIRO gere VALOR - explique TUDO que esta incluso:**\n- Consulta completa com Dr. Guilherme Leitner (especialista em emagrecimento)\n- Avaliacao medica personalizada (~1 hora)\n- Exame de bioimpedancia incluso\n- Plano alimentar personalizado para o objetivo do paciente\n- Retorno gratuito em 30 dias para ajustes\n- Acompanhamento continuo com check-ins\n- Suporte da equipe entre consultas\n- Protocolos modernos (Tirzepatida/GLP-1) baseados em evidencias\n\n**2. Destaque os DIFERENCIAIS:**\n- Nao e uma consulta rapida - e um acompanhamento completo\n- Dr. Guilherme e especialista em medicina do emagrecimento\n- Tratamento individualizado, nao protocolo generico\n- Resultados visiveis nas primeiras semanas\n\n**3. SOMENTE mencione preco se o cliente PERGUNTAR EXPLICITAMENTE:**\n- Se perguntarem \"quanto custa?\", \"qual o valor?\", \"qual o preco?\"\n- Entao use o RAG para buscar: R$700 (consulta) com parcelamento disponivel\n- NUNCA mencione o valor do tratamento completo (R$3.000+)\n\n## Dados a Coletar\nNome, Email, CEP, Data nascimento, Origem (como nos conheceu).\nIdade < 16: recuse educadamente.\n\n## Escalacao Humana\nEscale para Beth quando: usuario pede atendimento humano, gravidez/amamentacao, condicoes serias, frustrado.\n**NAO escale para agendamento - voce pode agendar diretamente!**\n\n## FORMATO DE RESPOSTA OBRIGATORIO\nSEMPRE responda com JSON valido neste formato:\n```json\n{\n  \"message\": \"Sua resposta ao usuario aqui\",\n  \"extracted_data\": {\n    \"name\": \"nome extraido ou null\",\n    \"email\": \"email extraido ou null\",\n    \"cep\": \"cep extraido ou null\",\n    \"date_of_birth\": \"data extraida ou null\",\n    \"referral_source\": \"origem extraida ou null\"\n  },\n  \"new_stage\": \"greeting|discovery|qualification|value_building|scheduling|confirmation\",\n  \"action\": \"await_response|schedule_appointment|request_handoff\",\n  \"requires_handoff\": false,\n  \"handoff_reason\": null,\n  \"appointment_booked\": null\n}\n```\n\n**IMPORTANTE sobre extracted_data:**\n- Extraia dados de QUALQUER formato que o usuario fornecer\n- Exemplos: 'meu nome e Joao' -> name: 'Joao'\n- 'email joao@email.com' -> email: 'joao@email.com'\n- 'nasci em 15/03/1990' -> date_of_birth: '1990-03-15'\n- 'moro no 01310-100' -> cep: '01310-100'\n- 'vi no instagram' -> referral_source: 'Instagram'\n- Mantenha null para dados nao fornecidos\n- NUNCA perca dados ja coletados\n\n**Se usar book_appointment com sucesso:**\n- action: \"schedule_appointment\"\n- appointment_booked: { \"datetime\": \"...\", \"confirmed\": true }\n\n## Primeira Mensagem (novo lead)\nmessage: \"Ola! Sou a Sofia, assistente virtual da Leitner Saude. Estou aqui para ajudar com informacoes sobre nossos tratamentos e agendar sua consulta. Se preferir, pode solicitar atendimento humano. Como posso ajudar?\"\n\n## Primeira Mensagem (lead retornando)\nmessage: \"Ola [NOME]! Que bom te ver novamente. Como posso ajudar hoje?\""
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "haiku-model",
      "name": "Claude Haiku 4.5",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [1460, 560],
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-haiku-4-5-20241022",
          "mode": "list"
        },
        "options": {
          "maxTokensToSample": 1024,
          "temperature": 0.7
        }
      },
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-creds",
          "name": "Anthropic"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "window-buffer-memory",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [1600, 560],
      "parameters": {
        "sessionKey": "=sofia-evo-{{ $('Normalize Payload').first().json.senderPhone }}",
        "sessionIdType": "customKey",
        "contextWindowLength": 50
      },
      "typeVersion": 1.2
    },
    {
      "id": "vector-store-tool",
      "name": "Knowledge Base RAG Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [1740, 560],
      "parameters": {
        "name": "query_knowledge_base",
        "description": "Search the Leitner Saude clinic knowledge base. USE THIS TOOL for questions about:\n\n- PRICING: Consultation cost (R$700), payment methods, installments\n- TREATMENTS: Tirzepatide/Mounjaro protocol, dosages, GLP-1 medications, Lipedema\n- SIDE EFFECTS: Nausea, vomiting, fatigue, injection site reactions, how to manage them\n- CLINIC INFO: Dr. Guilherme Leitner, mission, values, what makes us different\n- FAQ: Appointment duration, what to bring, fasting requirements, scheduling\n- COMPLIANCE: LGPD, medical disclaimers, when to refer to human\n\nDO NOT use for: Personal patient data, appointment scheduling actions, or real-time availability.",
        "topK": 5
      },
      "typeVersion": 1
    },
    {
      "id": "qdrant-vector-store",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [1740, 740],
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "clinic_knowledge_base",
          "mode": "list"
        },
        "options": {}
      },
      "credentials": {
        "qdrantApi": {
          "id": "qdrant-creds",
          "name": "Qdrant"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "embeddings-openai",
      "name": "OpenAI Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [1880, 740],
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "openai-creds",
          "name": "OpenAI"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "openai-model-vectorstore",
      "name": "OpenAI Chat Model (RAG)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [2020, 740],
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "openai-creds",
          "name": "OpenAI"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "calendar-availability-tool",
      "name": "Check Calendar Availability",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [1880, 560],
      "parameters": {
        "name": "check_calendar_availability",
        "description": "Check available appointment slots in Dr. Guilherme's calendar. Use this tool when the lead wants to schedule a consultation or asks about availability.\n\nInput: A JSON object with:\n- operation: 'check_availability' (required)\n- date: 'YYYY-MM-DD' format (optional, defaults to next 7 days)\n\nExample: { \"operation\": \"check_availability\", \"date\": \"2024-12-30\" }\n\nReturns: List of available time slots formatted for display.",
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "specifyInputSchema": true,
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"operation\": \"check_availability\",\n  \"date\": \"2024-12-30\"\n}"
      },
      "typeVersion": 2
    },
    {
      "id": "calendar-booking-tool",
      "name": "Book Appointment",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [2020, 560],
      "parameters": {
        "name": "book_appointment",
        "description": "Book an appointment in Dr. Guilherme's calendar. Use this tool ONLY after the lead has confirmed a specific date and time.\n\nREQUIRED DATA before booking:\n- Patient name (must be collected first)\n- Confirmed datetime from available slots\n- Patient phone number\n\nInput: A JSON object with:\n- operation: 'book_appointment' (required)\n- datetime: ISO format 'YYYY-MM-DDTHH:MM:SS' (required)\n- name: Patient's full name (required)\n- phone: Patient's phone number (required)\n\nExample: { \"operation\": \"book_appointment\", \"datetime\": \"2024-12-30T14:00:00\", \"name\": \"Maria Silva\", \"phone\": \"5511999998888\" }\n\nReturns: Confirmation with appointment details.",
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "specifyInputSchema": true,
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"operation\": \"book_appointment\",\n  \"datetime\": \"2024-12-30T14:00:00\",\n  \"name\": \"Maria Silva\",\n  \"phone\": \"5511999998888\"\n}"
      },
      "typeVersion": 2
    },
    {
      "id": "process-response",
      "name": "Process Response",
      "type": "n8n-nodes-base.code",
      "position": [1700, 340],
      "parameters": {
        "jsCode": "// Process Sofia's JSON response\nconst agentOutput = $input.first().json.output || '';\n\n// Get context from either returning or new lead context node\nlet preparedData;\ntry {\n  preparedData = $('Prepare Returning Lead Context').first().json;\n} catch (e) {\n  try {\n    preparedData = $('Prepare New Lead Context').first().json;\n  } catch (e2) {\n    const normalized = $('Normalize Payload').first().json;\n    preparedData = {\n      text: normalized.messageText,\n      phone: normalized.senderPhone,\n      contactName: normalized.senderName,\n      instanceName: normalized.instanceName,\n      senderType: 'unknown',\n      leadData: { stage: 'greeting' }\n    };\n  }\n}\n\n// Try to parse JSON from agent output\nlet parsedResponse = null;\nlet cleanMessage = agentOutput;\n\n// Try to extract JSON from the response\nconst jsonMatch = agentOutput.match(/```json\\s*([\\s\\S]*?)```/) || agentOutput.match(/\\{[\\s\\S]*\\}/);\nif (jsonMatch) {\n  try {\n    const jsonStr = jsonMatch[1] || jsonMatch[0];\n    parsedResponse = JSON.parse(jsonStr);\n    cleanMessage = parsedResponse.message || agentOutput;\n  } catch (e) {\n    // JSON parse failed, use raw output\n    cleanMessage = agentOutput.replace(/```json[\\s\\S]*?```/g, '').trim();\n  }\n}\n\n// Extract data from parsed JSON or use defaults\nconst extractedData = parsedResponse?.extracted_data || {};\nconst newStage = parsedResponse?.new_stage || preparedData.leadData?.stage || 'greeting';\nconst action = parsedResponse?.action || 'await_response';\nconst requiresHandoff = parsedResponse?.requires_handoff || false;\nconst handoffReason = parsedResponse?.handoff_reason || null;\n\n// Determine handoff needs\nconst needsScheduling = action === 'schedule_appointment';\nconst needsHumanTransfer = action === 'request_handoff' || requiresHandoff;\n\n// Merge extracted data with previous data (preserve existing, add new)\nconst previousData = preparedData.leadData || {};\nconst finalLeadData = {\n  name: extractedData.name || previousData.name || preparedData.contactName || '',\n  email: extractedData.email || previousData.email || '',\n  cep: extractedData.cep || previousData.cep || '',\n  dob: extractedData.date_of_birth || previousData.dob || '',\n  cpf: previousData.cpf || '',\n  source: extractedData.referral_source || previousData.source || 'WhatsApp',\n  stage: newStage,\n  status: needsHumanTransfer ? 'awaiting_human' : (needsScheduling ? 'scheduled' : 'active'),\n  notes: handoffReason || previousData.notes || ''\n};\n\nreturn {\n  responseMessage: cleanMessage,\n  leadData: finalLeadData,\n  leadPhone: preparedData.phone,\n  leadName: finalLeadData.name,\n  lastMessage: preparedData.text,\n  senderType: preparedData.senderType,\n  needsScheduling: needsScheduling,\n  needsHumanTransfer: needsHumanTransfer,\n  needsHandoff: needsScheduling || needsHumanTransfer,\n  handoffType: needsScheduling ? 'AGENDAMENTO' : (needsHumanTransfer ? 'TRANSFERENCIA' : null),\n  handoffReason: handoffReason,\n  instanceName: preparedData.instanceName\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "reply-to-user",
      "name": "Reply To User",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1920, 340],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-9395.up.railway.app/message/sendText/whatsapp-teste",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.leadPhone }}\",\n  \"text\": {{ JSON.stringify($json.responseMessage) }}\n}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "evolution-api-creds",
          "name": "Evolution API"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "check-handoff",
      "name": "Needs Handoff?",
      "type": "n8n-nodes-base.if",
      "position": [2140, 340],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-handoff-flag",
              "leftValue": "={{ $('Process Response').first().json.needsHandoff }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "prepare-handoff-notification",
      "name": "Prepare Handoff Notification",
      "type": "n8n-nodes-base.code",
      "position": [2360, 260],
      "parameters": {
        "jsCode": "// Prepare handoff notification message for Beth\nconst data = $('Process Response').first().json;\nconst leadData = data.leadData || {};\n\nconst message = `*BETH - NOVO LEAD PRONTO PARA ${data.handoffType || 'ATENDIMENTO'}*\n\n*Nome:* ${leadData.name || 'Nao informado'}\n*Telefone:* ${data.leadPhone || 'Nao informado'}\n*Email:* ${leadData.email || 'Nao informado'}\n*CEP:* ${leadData.cep || 'Nao informado'}\n*Nascimento:* ${leadData.dob || 'Nao informado'}\n*Origem:* ${leadData.source || 'WhatsApp'}\n*Estagio:* ${leadData.stage || 'greeting'}\n\n*Motivo:* ${data.handoffReason || 'Solicitacao de agendamento'}\n\n*Ultima msg:* ${data.lastMessage || ''}`;\n\nreturn {\n  number: '5511999986838',\n  text: message\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "notify-human-support",
      "name": "Notify Human Support",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2560, 260],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-9395.up.railway.app/message/sendText/whatsapp-teste",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.number }}\",\n  \"text\": {{ JSON.stringify($json.text) }}\n}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "evolution-api-creds",
          "name": "Evolution API"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "prepare-lead-update",
      "name": "Prepare Lead Update",
      "type": "n8n-nodes-base.code",
      "position": [2360, 420],
      "parameters": {
        "jsCode": "// Prepare lead update data from Process Response\nconst processedData = $('Process Response').first().json;\nconst normalizedData = $('Normalize Payload').first().json;\nconst leadData = processedData.leadData || {};\n\nreturn {\n  PHONE: normalizedData.senderPhone || '',\n  NAME: leadData.name || '',\n  EMAIL: leadData.email || '',\n  CEP: leadData.cep || '',\n  DOB: leadData.dob || '',\n  CPF: leadData.cpf || '',\n  SOURCE: leadData.source || 'WhatsApp',\n  STAGE: leadData.stage || 'greeting',\n  STATUS: leadData.status || 'active',\n  NOTES: leadData.notes || '',\n  LAST_MESSAGE: processedData.lastMessage || '',\n  LAST_CONTACT: new Date().toISOString(),\n  // Reset follow-up counters when lead responds\n  FOLLOW_UP_ATTEMPTS: '0',\n  LAST_FOLLOW_UP: '',\n  NEXT_FOLLOW_UP_HOUR: ''\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "update-lead-record",
      "name": "Update Lead Record",
      "type": "n8n-nodes-base.googleSheets",
      "position": [2560, 420],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1y7dqc3Pelbk2ltn9Rm_iYmziw5wLddtiRtbg0vyBk70",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": ["PHONE"]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-creds",
          "name": "Google Sheets"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "schedule-trigger",
      "name": "Follow-up Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [220, 700],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 0,
              "triggerAtHour": [10, 12, 14, 16, 18, 20]
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "get-current-hour",
      "name": "Get Current Hour",
      "type": "n8n-nodes-base.code",
      "position": [420, 700],
      "parameters": {
        "jsCode": "// Get current hour in Sao Paulo timezone\nconst now = new Date();\nconst saoPauloOffset = -3;\nconst utcHours = now.getUTCHours();\nconst saoPauloHour = (utcHours + saoPauloOffset + 24) % 24;\n\nreturn {\n  currentHour: saoPauloHour,\n  timestamp: now.toISOString()\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "read-leads-followup",
      "name": "Read Leads (Follow-up)",
      "type": "n8n-nodes-base.googleSheets",
      "position": [620, 700],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1y7dqc3Pelbk2ltn9Rm_iYmziw5wLddtiRtbg0vyBk70",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-creds",
          "name": "Google Sheets"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "filter-cold-leads",
      "name": "Filter Cold Leads",
      "type": "n8n-nodes-base.code",
      "position": [820, 700],
      "parameters": {
        "jsCode": "// Filter leads that need follow-up\nconst currentHour = $('Get Current Hour').first().json.currentHour;\nconst now = new Date();\nconst oneDayAgo = new Date(now.getTime() - 24 * 60 * 60 * 1000);\n\nconst leads = $input.all();\nconst coldLeads = [];\n\nfor (const item of leads) {\n  const lead = item.json;\n  \n  // Skip if not active\n  if (lead.STATUS !== 'active') continue;\n  \n  // Skip if already at max attempts\n  const attempts = parseInt(lead.FOLLOW_UP_ATTEMPTS) || 0;\n  if (attempts >= 5) continue;\n  \n  // Check if last contact was more than 24 hours ago\n  const lastContact = new Date(lead.LAST_CONTACT);\n  if (lastContact >= oneDayAgo) continue;\n  \n  // Check if already followed up today\n  if (lead.LAST_FOLLOW_UP) {\n    const lastFollowUp = new Date(lead.LAST_FOLLOW_UP);\n    const today = new Date(now.getFullYear(), now.getMonth(), now.getDate());\n    const followUpDay = new Date(lastFollowUp.getFullYear(), lastFollowUp.getMonth(), lastFollowUp.getDate());\n    if (followUpDay >= today) continue;\n  }\n  \n  // Check hour matching\n  const nextHour = parseInt(lead.NEXT_FOLLOW_UP_HOUR) || 0;\n  \n  // First attempt - only trigger at 10 AM\n  if (attempts === 0 && !lead.NEXT_FOLLOW_UP_HOUR) {\n    if (currentHour !== 10) continue;\n  } else {\n    if (nextHour !== currentHour) continue;\n  }\n  \n  coldLeads.push({\n    ...lead,\n    currentAttempt: attempts + 1,\n    currentHour: currentHour\n  });\n}\n\nreturn coldLeads;"
      },
      "typeVersion": 2
    },
    {
      "id": "has-cold-leads",
      "name": "Has Cold Leads?",
      "type": "n8n-nodes-base.if",
      "position": [1020, 700],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-leads",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "prepare-followup-context",
      "name": "Prepare Follow-up Context",
      "type": "n8n-nodes-base.code",
      "position": [1220, 620],
      "parameters": {
        "jsCode": "// Prepare context for each lead with attempt-specific approach\nconst lead = $input.first().json;\nconst attempt = lead.currentAttempt;\n\nconst approaches = {\n  1: { approach: 'gentle_checkin', description: 'Gentle check-in - ask if they have any remaining questions', nextHour: 14 },\n  2: { approach: 'value_highlight', description: 'Highlight the unique value - Dr. Guilherme expertise, personalized treatment', nextHour: 18 },\n  3: { approach: 'social_proof', description: 'Share success stories and results from the program', nextHour: 12 },\n  4: { approach: 'availability', description: 'Create gentle urgency - mention consultation availability', nextHour: 16 },\n  5: { approach: 'final_human', description: 'Final attempt - offer direct contact with Beth for scheduling', nextHour: null }\n};\n\nconst currentApproach = approaches[attempt] || approaches[1];\n\nreturn {\n  phone: lead.PHONE,\n  leadName: lead.NAME || 'amigo(a)',\n  email: lead.EMAIL || '',\n  stage: lead.STAGE || 'greeting',\n  lastMessage: lead.LAST_MESSAGE || '',\n  source: lead.SOURCE || 'WhatsApp',\n  attemptNumber: attempt,\n  approach: currentApproach.approach,\n  approachDescription: currentApproach.description,\n  nextFollowUpHour: currentApproach.nextHour,\n  isLastAttempt: attempt >= 5\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "followup-ai-agent",
      "name": "Follow-up AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [1420, 620],
      "parameters": {
        "text": "=Generate a follow-up message for this lead.",
        "options": {
          "systemMessage": "# Sofia - Follow-up de Leads da Leitner Saude\n\nVoce e Sofia, assistente virtual da Leitner Saude, fazendo follow-up com um lead que nao respondeu.\n\n## Contexto do Lead\n- Nome: {{ $json.leadName }}\n- Estagio: {{ $json.stage }}\n- Ultima mensagem: \"{{ $json.lastMessage }}\"\n- Origem: {{ $json.source }}\n\n## Tentativa Atual\n- Numero: {{ $json.attemptNumber }} de 5\n- Abordagem: {{ $json.approachDescription }}\n\n## Abordagens por Tentativa\n\n**Tentativa 1 - Check-in Gentil:**\nPergunte se ficou alguma duvida. Seja breve e acolhedor.\nExemplo: \"Ola [NOME]! Sou a Sofia da Leitner Saude. Vi que conversamos e queria saber se posso ajudar com alguma duvida?\"\n\n**Tentativa 2 - Destaque de Valor (O QUE ESTA INCLUSO):**\nMencione TUDO que esta incluso na consulta:\n- Avaliacao completa com Dr. Guilherme Leitner (especialista)\n- Exame de bioimpedancia\n- Plano alimentar personalizado\n- Retorno gratuito em 30 dias\n- Acompanhamento continuo\nExemplo: \"Ola [NOME]! Queria te contar que nossa consulta inclui avaliacao completa, bioimpedancia, plano alimentar personalizado e retorno gratuito em 30 dias. Tudo pensado para seu objetivo!\"\n\n**Tentativa 3 - Prova Social + Metodologia:**\nMencione os protocolos modernos e resultados (sem inventar numeros).\nExemplo: \"[NOME], nossos pacientes geralmente percebem mudancas ja nas primeiras semanas. Usamos Tirzepatida, medicamento de ultima geracao aprovado pela ANVISA.\"\n\n**Tentativa 4 - Disponibilidade:**\nMencione que as vagas para consulta sao limitadas.\nExemplo: \"[NOME], temos algumas vagas na agenda do Dr. Guilherme. Gostaria de reservar um horario?\"\n\n**Tentativa 5 - Final + Humano:**\nUltima tentativa. Ofereca contato direto com Beth.\nExemplo: \"Ola [NOME]! Entendo que pode estar ocupado(a). Se preferir, a Beth, nossa secretaria, pode entrar em contato diretamente. Posso pedir para ela ligar?\"\n\n## Regras\n- SEM emojis\n- Maximo 2 paragrafos curtos\n- Profissional mas caloroso\n- Use o nome do lead se disponivel\n- NAO seja insistente ou desesperado\n- NAO mencione que e uma mensagem automatica\n- NUNCA mencione precos nos follow-ups\n- Foque em VALOR, nao em preco\n\n## Formato de Resposta\nResponda APENAS com a mensagem de follow-up, sem JSON ou formatacao adicional."
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "followup-model",
      "name": "Claude Haiku (Follow-up)",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [1420, 840],
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-haiku-4-5-20241022",
          "mode": "list"
        },
        "options": {
          "maxTokensToSample": 512,
          "temperature": 0.7
        }
      },
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-creds",
          "name": "Anthropic"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "send-followup",
      "name": "Send Follow-up Message",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1640, 620],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-9395.up.railway.app/message/sendText/whatsapp-teste",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Prepare Follow-up Context').first().json.phone }}\",\n  \"text\": {{ JSON.stringify($json.output) }}\n}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "evolution-api-creds",
          "name": "Evolution API"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "update-lead-followup",
      "name": "Update Lead Follow-up",
      "type": "n8n-nodes-base.googleSheets",
      "position": [1860, 620],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1y7dqc3Pelbk2ltn9Rm_iYmziw5wLddtiRtbg0vyBk70",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FOLLOW_UP_ATTEMPTS": "={{ $('Prepare Follow-up Context').first().json.attemptNumber }}",
            "LAST_FOLLOW_UP": "={{ $now.toISO() }}",
            "NEXT_FOLLOW_UP_HOUR": "={{ $('Prepare Follow-up Context').first().json.nextFollowUpHour || '' }}"
          },
          "matchingColumns": ["PHONE"]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-creds",
          "name": "Google Sheets"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "check-max-attempts",
      "name": "Max Attempts Reached?",
      "type": "n8n-nodes-base.if",
      "position": [2080, 620],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-last-attempt",
              "leftValue": "={{ $('Prepare Follow-up Context').first().json.isLastAttempt }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "mark-cold",
      "name": "Mark Lead as Cold",
      "type": "n8n-nodes-base.googleSheets",
      "position": [2300, 540],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1y7dqc3Pelbk2ltn9Rm_iYmziw5wLddtiRtbg0vyBk70",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "STATUS": "cold",
            "NOTES": "=Lead marcado como frio apos 5 tentativas de follow-up sem resposta"
          },
          "matchingColumns": ["PHONE"]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-creds",
          "name": "Google Sheets"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "prepare-beth-cold-notification",
      "name": "Prepare Beth Notification",
      "type": "n8n-nodes-base.code",
      "position": [2520, 540],
      "parameters": {
        "jsCode": "// Prepare notification for Beth about cold lead\nconst context = $('Prepare Follow-up Context').first().json;\n\nconst message = `*BETH - LEAD MARCADO COMO FRIO*\n\n*Nome:* ${context.leadName}\n*Telefone:* ${context.phone}\n*Email:* ${context.email || 'Nao informado'}\n*Estagio:* ${context.stage}\n*Origem:* ${context.source}\n\n*Tentativas:* 5 follow-ups sem resposta\n*Ultima msg do lead:* \"${context.lastMessage}\"\n\n*Acao sugerida:* Avaliar se vale contato telefonico ou arquivar.`;\n\nreturn {\n  number: '5511999986838',\n  text: message\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "notify-beth-cold",
      "name": "Notify Beth (Cold Lead)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2740, 540],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-9395.up.railway.app/message/sendText/whatsapp-teste",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.number }}\",\n  \"text\": {{ JSON.stringify($json.text) }}\n}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "evolution-api-creds",
          "name": "Evolution API"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "sticky-note-main",
      "name": "Main Info",
      "type": "n8n-nodes-base.stickyNote",
      "position": [120, 60],
      "parameters": {
        "color": 7,
        "width": 580,
        "height": 260,
        "content": "## Sofia Evolution - Multi-Role Virtual Secretary\n\nThis workflow handles 3 sender types:\\n- **Patient**: Virtual secretary mode, urgency classification, always handoff\\n- **Returning Lead**: Continue qualification with previous data\\n- **New Lead**: Create record, start qualification\\n\\n### Flow: Message  Lookup Patient  Is Patient?\\n YES: Patient Flow (secretary mode)\\n NO: Lookup Lead  Is Returning Lead?\\n   YES: Load context  Lead AI Agent\\n   NO: Create Record  Lead AI Agent\\n\\n### AI Agent Tools\\n- **query_knowledge_base**: RAG for clinic info\\n- **check_calendar_availability**: View available slots\\n- **book_appointment**: Create calendar events\\n\\n### Configuration (Hardcoded)\\n- **Evolution API:** https://evolution-api-production-9395.up.railway.app\\n- **Instance:** whatsapp-teste\\n- **Support Phone:** 5511999724691\\n- **Google Sheet ID:** 1y7dqc3Pelbk2ltn9Rm_iYmziw5wLddtiRtbg0vyBk70 (AllPatients + Leads tabs)\\n\\n### Required Credentials\\n- `evolution-api-creds` (Header Auth with apikey)\\n- `anthropic-creds` (Claude Haiku)\\n- `openai-creds` (Whisper + embeddings)\\n- `qdrant-creds` (Vector store)\\n- `google-sheets-creds` (Google Sheets OAuth2)\\n- `google-calendar-creds` (Google Calendar OAuth2)"
      },
      "typeVersion": 1
    },
    {
      "id": "sticky-note-followup",
      "name": "Follow-up Info",
      "type": "n8n-nodes-base.stickyNote",
      "position": [120, 600],
      "parameters": {
        "color": 5,
        "width": 580,
        "height": 200,
        "content": "## Lead Follow-up System (Scheduled)\n\n**Runs:** Every 2 hours (10 AM - 8 PM Sao Paulo)\n\n**Strategy (5 attempts over 5 days):**\\n1. Day 1, 10 AM - Gentle check-in\\n2. Day 2, 2 PM - Value highlight (Dr. Guilherme)\\n3. Day 3, 6 PM - Social proof\\n4. Day 4, 12 PM - Availability\\n5. Day 5, 4 PM - Final + offer Beth contact\\n\\n**After 5 attempts:** Mark as cold + notify Beth\\n\\n**Reset:** Counters reset when lead responds"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Evolution Webhook": {
      "main": [[{"node": "Is Message Event?", "type": "main", "index": 0}]]
    },
    "Is Message Event?": {
      "main": [[{"node": "Is Incoming Message?", "type": "main", "index": 0}], []]
    },
    "Is Incoming Message?": {
      "main": [[{"node": "Normalize Payload", "type": "main", "index": 0}], []]
    },
    "Normalize Payload": {
      "main": [[{"node": "Handle Message Types", "type": "main", "index": 0}]]
    },
    "Handle Message Types": {
      "main": [
        [{"node": "Lookup Patient", "type": "main", "index": 0}],
        [{"node": "Download Audio", "type": "main", "index": 0}],
        [{"node": "Download Video", "type": "main", "index": 0}],
        [{"node": "Reply Unsupported Type", "type": "main", "index": 0}]
      ]
    },
    "Download Audio": {
      "main": [[{"node": "Convert Audio to Binary", "type": "main", "index": 0}]]
    },
    "Download Video": {
      "main": [[{"node": "Convert Video to Binary", "type": "main", "index": 0}]]
    },
    "Convert Audio to Binary": {
      "main": [[{"node": "Transcribe Audio", "type": "main", "index": 0}]]
    },
    "Convert Video to Binary": {
      "main": [[{"node": "Transcribe Video", "type": "main", "index": 0}]]
    },
    "Transcribe Audio": {
      "main": [[{"node": "Format Audio Transcription", "type": "main", "index": 0}]]
    },
    "Transcribe Video": {
      "main": [[{"node": "Format Video Transcription", "type": "main", "index": 0}]]
    },
    "Format Audio Transcription": {
      "main": [[{"node": "Lookup Patient", "type": "main", "index": 0}]]
    },
    "Format Video Transcription": {
      "main": [[{"node": "Lookup Patient", "type": "main", "index": 0}]]
    },
    "Lookup Patient": {
      "main": [[{"node": "Is Patient?", "type": "main", "index": 0}]]
    },
    "Is Patient?": {
      "main": [
        [{"node": "Prepare Patient Context", "type": "main", "index": 0}],
        [{"node": "Lookup Lead", "type": "main", "index": 0}]
      ]
    },
    "Prepare Patient Context": {
      "main": [[{"node": "Patient AI Agent", "type": "main", "index": 0}]]
    },
    "Patient AI Agent": {
      "main": [[{"node": "Process Patient Response", "type": "main", "index": 0}]]
    },
    "Process Patient Response": {
      "main": [[{"node": "Reply To Patient", "type": "main", "index": 0}]]
    },
    "Reply To Patient": {
      "main": [[{"node": "Patient Needs Handoff?", "type": "main", "index": 0}]]
    },
    "Patient Needs Handoff?": {
      "main": [[{"node": "Prepare Patient Notification", "type": "main", "index": 0}], []]
    },
    "Prepare Patient Notification": {
      "main": [[{"node": "Notify Human (Patient)", "type": "main", "index": 0}]]
    },
    "Lookup Lead": {
      "main": [[{"node": "Is Returning Lead?", "type": "main", "index": 0}]]
    },
    "Is Returning Lead?": {
      "main": [
        [{"node": "Prepare Returning Lead Context", "type": "main", "index": 0}],
        [{"node": "Prepare New Lead Data", "type": "main", "index": 0}]
      ]
    },
    "Prepare New Lead Data": {
      "main": [[{"node": "Create Lead Record", "type": "main", "index": 0}]]
    },
    "Prepare Returning Lead Context": {
      "main": [[{"node": "Sofia AI Agent", "type": "main", "index": 0}]]
    },
    "Create Lead Record": {
      "main": [[{"node": "Prepare New Lead Context", "type": "main", "index": 0}]]
    },
    "Prepare New Lead Context": {
      "main": [[{"node": "Sofia AI Agent", "type": "main", "index": 0}]]
    },
    "Sofia AI Agent": {
      "main": [[{"node": "Process Response", "type": "main", "index": 0}]]
    },
    "Process Response": {
      "main": [[{"node": "Reply To User", "type": "main", "index": 0}]]
    },
    "Reply To User": {
      "main": [[{"node": "Prepare Lead Update", "type": "main", "index": 0}]]
    },
    "Prepare Lead Update": {
      "main": [[{"node": "Update Lead Record", "type": "main", "index": 0}]]
    },
    "Update Lead Record": {
      "main": [[{"node": "Needs Handoff?", "type": "main", "index": 0}]]
    },
    "Needs Handoff?": {
      "main": [[{"node": "Prepare Handoff Notification", "type": "main", "index": 0}], []]
    },
    "Prepare Handoff Notification": {
      "main": [[{"node": "Notify Human Support", "type": "main", "index": 0}]]
    },
    "Claude Haiku 4.5": {
      "ai_languageModel": [[{"node": "Sofia AI Agent", "type": "ai_languageModel", "index": 0}]]
    },
    "Window Buffer Memory": {
      "ai_memory": [[{"node": "Sofia AI Agent", "type": "ai_memory", "index": 0}]]
    },
    "Knowledge Base RAG Tool": {
      "ai_tool": [
        [{"node": "Sofia AI Agent", "type": "ai_tool", "index": 0}],
        [{"node": "Patient AI Agent", "type": "ai_tool", "index": 0}]
      ]
    },
    "Check Calendar Availability": {
      "ai_tool": [
        [{"node": "Sofia AI Agent", "type": "ai_tool", "index": 0}]
      ]
    },
    "Book Appointment": {
      "ai_tool": [
        [{"node": "Sofia AI Agent", "type": "ai_tool", "index": 0}]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [[{"node": "Knowledge Base RAG Tool", "type": "ai_vectorStore", "index": 0}]]
    },
    "OpenAI Embeddings": {
      "ai_embedding": [[{"node": "Qdrant Vector Store", "type": "ai_embedding", "index": 0}]]
    },
    "OpenAI Chat Model (RAG)": {
      "ai_languageModel": [[{"node": "Knowledge Base RAG Tool", "type": "ai_languageModel", "index": 0}]]
    },
    "Claude Haiku (Patient)": {
      "ai_languageModel": [[{"node": "Patient AI Agent", "type": "ai_languageModel", "index": 0}]]
    },
    "Patient Memory": {
      "ai_memory": [[{"node": "Patient AI Agent", "type": "ai_memory", "index": 0}]]
    },
    "Follow-up Schedule": {
      "main": [[{"node": "Get Current Hour", "type": "main", "index": 0}]]
    },
    "Get Current Hour": {
      "main": [[{"node": "Read Leads (Follow-up)", "type": "main", "index": 0}]]
    },
    "Read Leads (Follow-up)": {
      "main": [[{"node": "Filter Cold Leads", "type": "main", "index": 0}]]
    },
    "Filter Cold Leads": {
      "main": [[{"node": "Has Cold Leads?", "type": "main", "index": 0}]]
    },
    "Has Cold Leads?": {
      "main": [
        [{"node": "Prepare Follow-up Context", "type": "main", "index": 0}],
        []
      ]
    },
    "Prepare Follow-up Context": {
      "main": [[{"node": "Follow-up AI Agent", "type": "main", "index": 0}]]
    },
    "Follow-up AI Agent": {
      "main": [[{"node": "Send Follow-up Message", "type": "main", "index": 0}]]
    },
    "Claude Haiku (Follow-up)": {
      "ai_languageModel": [[{"node": "Follow-up AI Agent", "type": "ai_languageModel", "index": 0}]]
    },
    "Send Follow-up Message": {
      "main": [[{"node": "Update Lead Follow-up", "type": "main", "index": 0}]]
    },
    "Update Lead Follow-up": {
      "main": [[{"node": "Max Attempts Reached?", "type": "main", "index": 0}]]
    },
    "Max Attempts Reached?": {
      "main": [
        [{"node": "Mark Lead as Cold", "type": "main", "index": 0}],
        []
      ]
    },
    "Mark Lead as Cold": {
      "main": [[{"node": "Prepare Beth Notification", "type": "main", "index": 0}]]
    },
    "Prepare Beth Notification": {
      "main": [[{"node": "Notify Beth (Cold Lead)", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Sofia",
      "id": "1"
    },
    {
      "name": "Evolution API",
      "id": "7"
    },
    {
      "name": "Standalone",
      "id": "8"
    }
  ],
  "pinData": {}
}
