workflows/whatsapp-webhook-handler.json
{
  "name": "WhatsApp Webhook Handler (Evolution API)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-post",
      "name": "Evolution API Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "whatsapp-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Validate Evolution API webhook and extract headers\nconst body = $input.first().json.body;\nconst headers = $input.first().json.headers;\n\n// Optional: Validate API Key if configured\nconst configuredApiKey = $env.EVOLUTION_WEBHOOK_SECRET;\nconst receivedApiKey = headers['apikey'] || headers['x-api-key'];\n\nif (configuredApiKey && configuredApiKey !== receivedApiKey) {\n  throw new Error('Invalid webhook API key');\n}\n\n// Check if this is a valid message event\nconst event = body.event;\nif (event !== 'messages.upsert') {\n  return [{ json: { skip: true, reason: `Event type: ${event}` } }];\n}\n\nreturn $input.first();"
      },
      "id": "verify-webhook",
      "name": "Verify Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract message data from Evolution API webhook (messages.upsert event)\nconst body = $input.first().json.body;\n\n// Evolution API payload structure\nconst data = body.data;\nconst instance = body.instance;\nconst sender = body.sender;\n\n// Skip if no data\nif (!data) {\n  return [{ json: { skip: true, reason: 'No data in payload' } }];\n}\n\nconst key = data.key;\nconst message = data.message;\nconst pushName = data.pushName;\nconst messageTimestamp = data.messageTimestamp;\n\n// Skip messages sent by us (fromMe = true)\nif (key?.fromMe === true) {\n  return [{ json: { skip: true, reason: 'Message sent by us' } }];\n}\n\n// Skip status broadcasts\nconst remoteJid = key?.remoteJid || '';\nif (remoteJid.includes('status@broadcast')) {\n  return [{ json: { skip: true, reason: 'Status broadcast' } }];\n}\n\n// Extract phone number from remoteJid (format: 5511999999999@s.whatsapp.net)\nconst phoneNumber = remoteJid.replace('@s.whatsapp.net', '').replace('@g.us', '');\n\n// Determine message type and content\nlet messageType = 'text';\nlet messageContent = null;\nlet mediaUrl = null;\nlet mediaBase64 = null;\nlet mediaMimeType = null;\nlet caption = null;\n\nif (message) {\n  // Text messages\n  if (message.conversation) {\n    messageContent = message.conversation;\n    messageType = 'text';\n  } else if (message.extendedTextMessage?.text) {\n    messageContent = message.extendedTextMessage.text;\n    messageType = 'text';\n  }\n  // Audio messages\n  else if (message.audioMessage) {\n    messageType = 'audio';\n    messageContent = '[AUDIO_MESSAGE]';\n    mediaBase64 = data.message?.audioMessage?.base64 || data.base64;\n    mediaMimeType = message.audioMessage.mimetype;\n  }\n  // Image messages\n  else if (message.imageMessage) {\n    messageType = 'image';\n    caption = message.imageMessage.caption || '';\n    messageContent = caption || '[IMAGE]';\n    mediaBase64 = data.message?.imageMessage?.base64 || data.base64;\n    mediaMimeType = message.imageMessage.mimetype;\n  }\n  // Video messages\n  else if (message.videoMessage) {\n    messageType = 'video';\n    caption = message.videoMessage.caption || '';\n    messageContent = caption || '[VIDEO]';\n    mediaBase64 = data.message?.videoMessage?.base64 || data.base64;\n    mediaMimeType = message.videoMessage.mimetype;\n  }\n  // Document messages\n  else if (message.documentMessage) {\n    messageType = 'document';\n    messageContent = message.documentMessage.fileName || '[DOCUMENT]';\n    mediaBase64 = data.message?.documentMessage?.base64 || data.base64;\n    mediaMimeType = message.documentMessage.mimetype;\n  }\n  // Sticker messages\n  else if (message.stickerMessage) {\n    messageType = 'sticker';\n    messageContent = '[STICKER]';\n  }\n  // Location messages\n  else if (message.locationMessage) {\n    messageType = 'location';\n    const lat = message.locationMessage.degreesLatitude;\n    const lng = message.locationMessage.degreesLongitude;\n    messageContent = `[LOCATION: ${lat}, ${lng}]`;\n  }\n  // Contact messages\n  else if (message.contactMessage || message.contactsArrayMessage) {\n    messageType = 'contact';\n    messageContent = '[CONTACT_SHARED]';\n  }\n  // Button response\n  else if (message.buttonsResponseMessage) {\n    messageType = 'interactive';\n    messageContent = message.buttonsResponseMessage.selectedButtonId || message.buttonsResponseMessage.selectedDisplayText;\n  }\n  // List response\n  else if (message.listResponseMessage) {\n    messageType = 'interactive';\n    messageContent = message.listResponseMessage.singleSelectReply?.selectedRowId || message.listResponseMessage.title;\n  }\n  // Reaction\n  else if (message.reactionMessage) {\n    messageType = 'reaction';\n    messageContent = message.reactionMessage.text || '[REACTION]';\n  }\n  // Unknown type\n  else {\n    messageContent = '[UNKNOWN_MESSAGE_TYPE]';\n    messageType = 'unknown';\n  }\n}\n\nreturn [{\n  json: {\n    skip: false,\n    messageId: key?.id,\n    from: phoneNumber,\n    timestamp: messageTimestamp,\n    type: messageType,\n    content: messageContent,\n    caption: caption,\n    mediaBase64: mediaBase64,\n    mediaMimeType: mediaMimeType,\n    contactName: pushName || 'Unknown',\n    remoteJid: remoteJid,\n    instanceName: instance,\n    sender: sender,\n    rawMessage: message\n  }\n}];"
      },
      "id": "extract-message",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-skip",
      "name": "IF Skip",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "interactive",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "interactive"
            }
          ],
          "fallbackOutput": {
            "renameOutput": true,
            "outputKey": "other"
          }
        },
        "options": {}
      },
      "id": "switch-message-type",
      "name": "Switch Message Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-processed-text",
              "name": "processedText",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "set-original-type",
              "name": "originalType",
              "value": "text",
              "type": "string"
            },
            {
              "id": "keep-all",
              "name": "messageData",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "set-text-message",
      "name": "Set Text Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1500, 200]
    },
    {
      "parameters": {
        "jsCode": "// Convert base64 audio to binary for Whisper transcription\nconst inputData = $input.first().json;\n\nif (!inputData.mediaBase64) {\n  // If no base64, skip transcription\n  return [{\n    json: {\n      ...inputData,\n      processedText: '[Audio message - transcription unavailable]',\n      originalType: 'audio'\n    }\n  }];\n}\n\n// Return binary data for transcription\nconst binaryData = Buffer.from(inputData.mediaBase64, 'base64');\n\nreturn [{\n  json: inputData,\n  binary: {\n    data: {\n      data: inputData.mediaBase64,\n      mimeType: inputData.mediaMimeType || 'audio/ogg',\n      fileName: 'audio.ogg'\n    }\n  }\n}];"
      },
      "id": "prepare-audio",
      "name": "Prepare Audio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 350]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "parameterType": "formData",
              "value": "whisper-1"
            },
            {
              "name": "language",
              "parameterType": "formData",
              "value": "pt"
            }
          ]
        },
        "options": {}
      },
      "id": "transcribe-audio",
      "name": "Transcribe Audio (Whisper)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1700, 350],
      "credentials": {
        "httpHeaderAuth": {
          "id": "openai-key",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-processed-text-audio",
              "name": "processedText",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "set-original-type-audio",
              "name": "originalType",
              "value": "audio",
              "type": "string"
            },
            {
              "id": "keep-message-data",
              "name": "messageData",
              "value": "={{ $('Switch Message Type').item.json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "set-audio-transcription",
      "name": "Set Audio Transcription",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1900, 350]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-processed-text-image",
              "name": "processedText",
              "value": "=[Usuario enviou uma imagem{{ $json.caption ? ': ' + $json.caption : '' }}]",
              "type": "string"
            },
            {
              "id": "set-original-type-image",
              "name": "originalType",
              "value": "image",
              "type": "string"
            },
            {
              "id": "set-image-base64",
              "name": "imageBase64",
              "value": "={{ $json.mediaBase64 }}",
              "type": "string"
            },
            {
              "id": "keep-message-data-image",
              "name": "messageData",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "set-image-message",
      "name": "Set Image Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1500, 500]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-processed-text-interactive",
              "name": "processedText",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "set-original-type-interactive",
              "name": "originalType",
              "value": "interactive",
              "type": "string"
            },
            {
              "id": "keep-message-data-interactive",
              "name": "messageData",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "set-interactive-message",
      "name": "Set Interactive Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1500, 650]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-processed-text-other",
              "name": "processedText",
              "value": "={{ $json.content || '[Mensagem nao suportada]' }}",
              "type": "string"
            },
            {
              "id": "set-original-type-other",
              "name": "originalType",
              "value": "={{ $json.type }}",
              "type": "string"
            },
            {
              "id": "keep-message-data-other",
              "name": "messageData",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "set-other-message",
      "name": "Set Other Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1500, 800]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.ORCHESTRATOR_WORKFLOW_ID }}",
        "options": {}
      },
      "id": "call-orchestrator",
      "name": "Call Conversation Orchestrator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [2100, 500]
    },
    {
      "parameters": {},
      "id": "no-op-skip",
      "name": "No Operation (Skip)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1250, 200]
    }
  ],
  "connections": {
    "Evolution API Webhook": {
      "main": [
        [
          {
            "node": "Verify Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Webhook": {
      "main": [
        [
          {
            "node": "Extract Message Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          {
            "node": "IF Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Skip": {
      "main": [
        [
          {
            "node": "No Operation (Skip)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Message Type": {
      "main": [
        [
          {
            "node": "Set Text Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Image Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Interactive Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Other Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text Message": {
      "main": [
        [
          {
            "node": "Call Conversation Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Audio": {
      "main": [
        [
          {
            "node": "Transcribe Audio (Whisper)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio (Whisper)": {
      "main": [
        [
          {
            "node": "Set Audio Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Audio Transcription": {
      "main": [
        [
          {
            "node": "Call Conversation Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image Message": {
      "main": [
        [
          {
            "node": "Call Conversation Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Interactive Message": {
      "main": [
        [
          {
            "node": "Call Conversation Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Other Message": {
      "main": [
        [
          {
            "node": "Call Conversation Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "clinic-whatsapp-bot",
    "notes": "Updated to use Evolution API instead of Meta's official WhatsApp Business API. Handles messages.upsert webhook events from Evolution API."
  },
  "pinData": {},
  "tags": [
    {
      "name": "whatsapp",
      "id": "1"
    },
    {
      "name": "evolution-api",
      "id": "7"
    },
    {
      "name": "production",
      "id": "2"
    }
  ]
}
