workflows/whatsapp-webhook-handler.json
{
  "name": "WhatsApp Webhook Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-post",
      "name": "WhatsApp Webhook POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "whatsapp-webhook"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-get",
      "name": "WhatsApp Verification GET",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 100],
      "webhookId": "whatsapp-verification"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "id": "respond-verification",
      "name": "Respond Verification",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "verify-token",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "={{ $env.WHATSAPP_VERIFY_TOKEN }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-valid-token",
      "name": "IF Valid Verify Token",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 100]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Invalid verify token",
        "options": {
          "responseCode": 403
        }
      },
      "id": "respond-invalid",
      "name": "Respond Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "jsCode": "// Validate webhook signature\nconst crypto = require('crypto');\n\nconst signature = $input.first().json.headers['x-hub-signature-256'];\nconst payload = JSON.stringify($input.first().json.body);\nconst appSecret = $env.WHATSAPP_APP_SECRET;\n\nif (!signature || !appSecret) {\n  throw new Error('Missing signature or app secret');\n}\n\nconst expectedSignature = 'sha256=' + \n  crypto.createHmac('sha256', appSecret)\n        .update(payload)\n        .digest('hex');\n\nif (signature !== expectedSignature) {\n  throw new Error('Invalid webhook signature');\n}\n\nreturn $input.first();"
      },
      "id": "verify-signature",
      "name": "Verify Webhook Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract message data from WhatsApp webhook\nconst body = $input.first().json.body;\nconst entry = body.entry?.[0];\nconst changes = entry?.changes?.[0];\nconst value = changes?.value;\n\n// Skip if no messages (could be status update)\nconst messages = value?.messages;\nif (!messages || messages.length === 0) {\n  return [{ json: { skip: true, reason: 'No messages in payload' } }];\n}\n\nconst message = messages[0];\nconst contact = value?.contacts?.[0];\nconst metadata = value?.metadata;\n\n// Extract message content based on type\nlet messageContent = null;\nlet mediaUrl = null;\nlet mediaId = null;\n\nswitch (message.type) {\n  case 'text':\n    messageContent = message.text?.body;\n    break;\n  case 'audio':\n    mediaId = message.audio?.id;\n    messageContent = '[AUDIO_MESSAGE]';\n    break;\n  case 'image':\n    mediaId = message.image?.id;\n    messageContent = message.image?.caption || '[IMAGE]';\n    break;\n  case 'document':\n    mediaId = message.document?.id;\n    messageContent = message.document?.filename || '[DOCUMENT]';\n    break;\n  case 'video':\n    mediaId = message.video?.id;\n    messageContent = message.video?.caption || '[VIDEO]';\n    break;\n  case 'sticker':\n    messageContent = '[STICKER]';\n    break;\n  case 'location':\n    messageContent = `[LOCATION: ${message.location?.latitude}, ${message.location?.longitude}]`;\n    break;\n  case 'contacts':\n    messageContent = '[CONTACT_SHARED]';\n    break;\n  case 'interactive':\n    // Button or list reply\n    if (message.interactive?.type === 'button_reply') {\n      messageContent = message.interactive.button_reply?.title;\n    } else if (message.interactive?.type === 'list_reply') {\n      messageContent = message.interactive.list_reply?.title;\n    }\n    break;\n  default:\n    messageContent = `[UNKNOWN_TYPE: ${message.type}]`;\n}\n\nreturn [{\n  json: {\n    skip: false,\n    messageId: message.id,\n    from: message.from,\n    timestamp: message.timestamp,\n    type: message.type,\n    content: messageContent,\n    mediaId: mediaId,\n    contactName: contact?.profile?.name || 'Unknown',\n    waId: contact?.wa_id,\n    phoneNumberId: metadata?.phone_number_id,\n    displayPhoneNumber: metadata?.display_phone_number,\n    rawMessage: message\n  }\n}];"
      },
      "id": "extract-message",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-skip",
      "name": "IF Skip",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "interactive",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "interactive"
            }
          ],
          "fallbackOutput": {
            "renameOutput": true,
            "outputKey": "other"
          }
        },
        "options": {}
      },
      "id": "switch-message-type",
      "name": "Switch Message Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-processed-text",
              "name": "processedText",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "set-original-type",
              "name": "originalType",
              "value": "text",
              "type": "string"
            },
            {
              "id": "keep-all",
              "name": "messageData",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "set-text-message",
      "name": "Set Text Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1500, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v18.0/{{ $json.mediaId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-audio-url",
      "name": "Get Audio URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 350],
      "credentials": {
        "httpHeaderAuth": {
          "id": "whatsapp-token",
          "name": "WhatsApp Token"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-audio",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1700, 350],
      "credentials": {
        "httpHeaderAuth": {
          "id": "whatsapp-token",
          "name": "WhatsApp Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "parameterType": "formData",
              "value": "whisper-1"
            },
            {
              "name": "language",
              "parameterType": "formData",
              "value": "pt"
            }
          ]
        },
        "options": {}
      },
      "id": "transcribe-audio",
      "name": "Transcribe Audio (Whisper)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1900, 350],
      "credentials": {
        "httpHeaderAuth": {
          "id": "openai-key",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-processed-text-audio",
              "name": "processedText",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "set-original-type-audio",
              "name": "originalType",
              "value": "audio",
              "type": "string"
            },
            {
              "id": "keep-message-data",
              "name": "messageData",
              "value": "={{ $('Switch Message Type').item.json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "set-audio-transcription",
      "name": "Set Audio Transcription",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2100, 350]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v18.0/{{ $json.mediaId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-image-url",
      "name": "Get Image URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "whatsapp-token",
          "name": "WhatsApp Token"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-processed-text-image",
              "name": "processedText",
              "value": "=[Usuario enviou uma imagem]",
              "type": "string"
            },
            {
              "id": "set-original-type-image",
              "name": "originalType",
              "value": "image",
              "type": "string"
            },
            {
              "id": "set-image-url",
              "name": "imageUrl",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "keep-message-data-image",
              "name": "messageData",
              "value": "={{ $('Switch Message Type').item.json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "set-image-message",
      "name": "Set Image Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1700, 500]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-processed-text-interactive",
              "name": "processedText",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "set-original-type-interactive",
              "name": "originalType",
              "value": "interactive",
              "type": "string"
            },
            {
              "id": "keep-message-data-interactive",
              "name": "messageData",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "set-interactive-message",
      "name": "Set Interactive Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1500, 650]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-processed-text-other",
              "name": "processedText",
              "value": "={{ $json.content || '[Mensagem nao suportada]' }}",
              "type": "string"
            },
            {
              "id": "set-original-type-other",
              "name": "originalType",
              "value": "={{ $json.type }}",
              "type": "string"
            },
            {
              "id": "keep-message-data-other",
              "name": "messageData",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "set-other-message",
      "name": "Set Other Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1500, 800]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "messageData.messageId",
              "field2": "messageData.messageId"
            }
          ]
        },
        "options": {}
      },
      "id": "merge-messages",
      "name": "Merge Processed Messages",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2300, 500]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.ORCHESTRATOR_WORKFLOW_ID }}",
        "options": {}
      },
      "id": "call-orchestrator",
      "name": "Call Conversation Orchestrator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [2500, 500]
    },
    {
      "parameters": {},
      "id": "no-op-skip",
      "name": "No Operation (Skip)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1250, 200]
    }
  ],
  "connections": {
    "WhatsApp Verification GET": {
      "main": [
        [
          {
            "node": "IF Valid Verify Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid Verify Token": {
      "main": [
        [
          {
            "node": "Respond Verification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Webhook POST": {
      "main": [
        [
          {
            "node": "Verify Webhook Signature",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Webhook Signature": {
      "main": [
        [
          {
            "node": "Extract Message Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          {
            "node": "IF Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Skip": {
      "main": [
        [
          {
            "node": "No Operation (Skip)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Message Type": {
      "main": [
        [
          {
            "node": "Set Text Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Audio URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Image URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Interactive Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Other Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text Message": {
      "main": [
        [
          {
            "node": "Call Conversation Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio URL": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Transcribe Audio (Whisper)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio (Whisper)": {
      "main": [
        [
          {
            "node": "Set Audio Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Audio Transcription": {
      "main": [
        [
          {
            "node": "Call Conversation Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image URL": {
      "main": [
        [
          {
            "node": "Set Image Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image Message": {
      "main": [
        [
          {
            "node": "Call Conversation Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Interactive Message": {
      "main": [
        [
          {
            "node": "Call Conversation Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Other Message": {
      "main": [
        [
          {
            "node": "Call Conversation Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "clinic-whatsapp-bot"
  },
  "pinData": {},
  "tags": [
    {
      "name": "whatsapp",
      "id": "1"
    },
    {
      "name": "production",
      "id": "2"
    }
  ]
}
