workflows/yara-executive-assistant.json
{
  "name": "Yara - Executive Assistant AI Agent",
  "meta": {
    "instanceId": "yara-executive-assistant-telegram",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [220, 340],
      "webhookId": "yara-telegram-webhook",
      "parameters": {
        "updates": ["message"]
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "Telegram Bot"
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "check-authorized-user",
      "name": "Check Authorized User",
      "type": "n8n-nodes-base.if",
      "position": [440, 340],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.message.chat.id.toString() }}",
              "rightValue": "-5050985328"
            },
            {
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.message.from.id.toString() }}",
              "rightValue": "8470418075"
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 2.2
    },
    {
      "id": "handle-message-type",
      "name": "Handle Message Type",
      "type": "n8n-nodes-base.switch",
      "position": [660, 240],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "Text Message",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "exists"
                    },
                    "leftValue": "={{ $json.message.text }}"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "Unsupported",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "notExists"
                    },
                    "leftValue": "={{ $json.message.text }}"
                  }
                ]
              },
              "renameOutput": true
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 3.2
    },
    {
      "id": "get-patients",
      "name": "Get All Patients",
      "type": "n8n-nodes-base.googleSheets",
      "position": [880, 160],
      "parameters": {
        "operation": "read",
        "sheetName": {
          "__rl": true,
          "value": "Patients",
          "mode": "list"
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "DEFAULT"
            }
          }
        },
        "documentId": {
          "__rl": true,
          "value": "your_google_sheet_id_here",
          "mode": "id"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-creds",
          "name": "Google Sheets OAuth"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "get-checkin-logs",
      "name": "Get Check-in Logs",
      "type": "n8n-nodes-base.googleSheets",
      "position": [880, 340],
      "parameters": {
        "operation": "read",
        "sheetName": {
          "__rl": true,
          "value": "CheckIns",
          "mode": "list"
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "DEFAULT"
            }
          }
        },
        "documentId": {
          "__rl": true,
          "value": "your_google_sheet_id_here",
          "mode": "id"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-creds",
          "name": "Google Sheets OAuth"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "prepare-context",
      "name": "Prepare Context with Data",
      "type": "n8n-nodes-base.code",
      "position": [1100, 240],
      "parameters": {
        "jsCode": "// Prepare context for Yara AI Agent with pre-fetched data\nconst telegramData = $('Handle Message Type').first().json;\nconst message = telegramData.message;\n\n// Get patients data\nconst patientsRaw = $('Get All Patients').all().map(item => item.json);\nconst patients = patientsRaw.map(p => ({\n  nome: p.NAME,\n  telefone: p.PHONE,\n  dataInicio: p.STARTING_DATE,\n  semanasContratadas: p.TOTAL_WEEKS_CONTRACTED,\n  semanasRestantes: p.REMAINING_WEEKS,\n  doseAtual: p.CURRENT_DOSE,\n  metodoPagamento: p.PAYMENT_METHOD,\n  ultimoPagamento: p.LAST_PAYMENT,\n  observacoes: p.NOTES,\n  status: p.STATUS || 'active'\n}));\n\n// Get check-in logs data\nconst logsRaw = $('Get Check-in Logs').all().map(item => item.json);\nconst logs = logsRaw.map(log => ({\n  data: log.DATE,\n  paciente: log.PATIENT_NAME,\n  semana: log.WEEK_NUMBER,\n  dose: log.DOSE_AT_CHECKIN,\n  semanasRestantes: log.REMAINING_WEEKS,\n  status: log.STATUS,\n  resposta: log.RESPONSE || 'Sem resposta',\n  efeitosColaterais: log.SIDE_EFFECTS_REPORTED || 'Nenhum',\n  followUp: log.FOLLOW_UP_NEEDED\n}));\n\n// Calculate analytics\nconst activePatients = patients.filter(p => parseInt(p.semanasRestantes) > 0);\nconst needsRenewal = patients.filter(p => parseInt(p.semanasRestantes) <= 2 && parseInt(p.semanasRestantes) > 0);\nconst followUpNeeded = logs.filter(log => log.followUp === 'YES');\n\n// Analyze side effects\nconst sideEffectsMap = {};\nlogs.forEach(log => {\n  if (log.efeitosColaterais && log.efeitosColaterais !== 'Nenhum') {\n    const effects = log.efeitosColaterais.toLowerCase().split(',').map(e => e.trim());\n    effects.forEach(effect => {\n      if (effect) sideEffectsMap[effect] = (sideEffectsMap[effect] || 0) + 1;\n    });\n  }\n});\nconst topSideEffects = Object.entries(sideEffectsMap)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 5)\n  .map(([effect, count]) => `${effect} (${count}x)`);\n\n// Format user info\nconst userName = message.from?.first_name || 'Usuario';\nconst userLastName = message.from?.last_name || '';\nconst fullName = `${userName} ${userLastName}`.trim();\n\nreturn {\n  json: {\n    userMessage: message.text || '',\n    userName: fullName,\n    userId: message.from?.id,\n    chatId: message.chat.id,\n    messageDate: new Date(message.date * 1000).toISOString(),\n    \n    // Pre-fetched data for AI context\n    pacientes: patients,\n    checkInLogs: logs.slice(0, 50), // Last 50 logs\n    \n    // Pre-calculated analytics\n    resumo: {\n      totalPacientes: patients.length,\n      pacientesAtivos: activePatients.length,\n      precisamRenovacao: needsRenewal.length,\n      followUpPendente: followUpNeeded.length,\n      efeitosColateraisFrequentes: topSideEffects\n    },\n    \n    // Lists for quick reference\n    pacientesParaRenovacao: needsRenewal.map(p => `${p.nome} (${p.semanasRestantes} semanas restantes)`),\n    pacientesComFollowUp: followUpNeeded.slice(0, 10).map(l => `${l.paciente} - ${l.data}`)\n  }\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "yara-ai-agent",
      "name": "Yara AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [1320, 240],
      "parameters": {
        "text": "Usuario {{ $json.userName }} perguntou:\n\n{{ $json.userMessage }}\n\nData/hora da mensagem: {{ $json.messageDate }}\n\n---\n\n## DADOS DISPONIVEIS (use para responder)\n\n### Resumo Atual:\n- Total de pacientes: {{ $json.resumo.totalPacientes }}\n- Pacientes ativos: {{ $json.resumo.pacientesAtivos }}\n- Precisam renovacao: {{ $json.resumo.precisamRenovacao }}\n- Follow-up pendente: {{ $json.resumo.followUpPendente }}\n- Efeitos colaterais frequentes: {{ $json.resumo.efeitosColateraisFrequentes.join(', ') || 'Nenhum registrado' }}\n\n### Pacientes para Renovacao:\n{{ $json.pacientesParaRenovacao.join('\\n') || 'Nenhum no momento' }}\n\n### Follow-ups Pendentes:\n{{ $json.pacientesComFollowUp.join('\\n') || 'Nenhum pendente' }}\n\n### Lista Completa de Pacientes:\n{{ JSON.stringify($json.pacientes, null, 2) }}\n\n### Ultimos Check-ins:\n{{ JSON.stringify($json.checkInLogs.slice(0, 20), null, 2) }}",
        "options": {
          "systemMessage": "# Yara - Assistente Executiva da Clinica\n\nVoce e **Yara**, assistente executiva virtual de uma clinica premium de medicina do emagrecimento. Voce se comunica com a equipe de gestao via Telegram e tem acesso completo aos dados operacionais da clinica.\n\n## Sua Identidade\n- **Nome:** Yara\n- **Funcao:** Assistente executiva de gestao e analise\n- **Canal:** Telegram (comunicacao com gestao/equipe)\n- **Diferencial:** Acesso centralizado a todos os dados da clinica\n\n## Dados Disponiveis\n\nVoce recebe automaticamente em cada mensagem:\n1. **Lista de pacientes** - Nome, telefone, dose, semanas restantes, status\n2. **Historico de check-ins** - Data, respostas, efeitos colaterais, follow-ups\n3. **Resumo analitico** - Totais, renovacoes pendentes, efeitos frequentes\n\nUse estes dados para responder as perguntas. NAO diga que precisa buscar ou consultar - voce JA TEM os dados.\n\n## Suas Responsabilidades\n\n### 1. Consulta de Dados de Pacientes\nVoce pode responder sobre:\n- Status de tratamento de pacientes especificos\n- Semanas restantes de tratamento\n- Historico de check-ins\n- Efeitos colaterais reportados\n- Necessidades de follow-up\n- Renovacoes pendentes\n\n### 2. Analise e Insights\nVoce deve:\n- Identificar padroes nos dados\n- Detectar recorrencias (efeitos colaterais frequentes)\n- Sugerir pontos de melhoria operacional\n- Gerar resumos executivos\n- Alertar sobre situacoes que requerem atencao\n\n## Ferramentas Disponiveis\n\n### `query_knowledge_base`\nBusca informacoes na base de conhecimento da clinica (tratamentos, metodologia, FAQ).\n**Use quando:** Perguntas sobre protocolos, tratamentos, informacoes institucionais.\n\n## Comunicacao\n\n### Estilo\n- **Profissional e executivo** - Voce fala com gestores e equipe\n- **Direto e objetivo** - Informacoes claras e acionaveis\n- **Analitico** - Sempre que possivel, adicione insights\n- **Proativo** - Sugira acoes quando identificar oportunidades\n\n### Formato (Telegram Markdown)\n- Use *negrito* para destacar informacoes importantes\n- Use listas para organizar dados\n- Inclua metricas quando relevante\n- Maximo 1-2 emojis por mensagem quando apropriado\n\n### Idioma\n- Portugues brasileiro\n- Linguagem profissional/empresarial\n\n## Tipos de Consultas\n\n### Sobre Pacientes\n- \"Qual o status do paciente [NOME]?\" - Busque nos dados de pacientes\n- \"Quantos pacientes estao em tratamento?\" - Use o resumo\n- \"Quem precisa de renovacao esta semana?\" - Use pacientesParaRenovacao\n- \"Quais pacientes reportaram efeitos colaterais?\" - Filtre os check-ins\n- \"Liste os pacientes com follow-up pendente\" - Use pacientesComFollowUp\n\n### Analises e Padroes\n- \"Quais sao os efeitos colaterais mais frequentes?\" - Use efeitosColateraisFrequentes\n- \"Identifique padroes nos tratamentos\" - Analise os dados\n- \"O que podemos melhorar no atendimento?\" - Faca sugestoes baseadas nos dados\n- \"Gere um resumo semanal\" - Compile o resumo\n\n### Sobre a Clinica\n- Use a ferramenta query_knowledge_base para perguntas sobre tratamentos, metodologia, planos\n\n## Regras Importantes\n\n1. **Privacidade:** Dados de pacientes sao confidenciais\n2. **Precisao:** Use os dados fornecidos na mensagem\n3. **Proatividade:** Quando identificar algo relevante, mencione\n4. **Fontes:** Sempre indique de onde veio a informacao (Lista de Pacientes, Check-ins, etc)\n\n## Primeira Mensagem\n\nSe usuario enviar /start ou saudacao inicial:\n\n\"Ola! Sou a Yara, sua assistente executiva da clinica.\n\nTenho acesso aos dados de pacientes e base de conhecimento da clinica.\n\nPosso ajudar com:\n- Status de pacientes e tratamentos\n- Historico de check-ins\n- Analises e identificacao de padroes\n- Qualquer informacao sobre a clinica\n\nComo posso ajudar?\""
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "haiku-model",
      "name": "Claude Haiku 4.5",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [1320, 460],
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list"
        },
        "options": {
          "maxTokensToSample": 2048,
          "temperature": 0.5
        }
      },
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-creds",
          "name": "Anthropic"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "window-buffer-memory",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [1460, 460],
      "parameters": {
        "sessionKey": "=yara-telegram-{{ $('Prepare Context with Data').item.json.chatId }}",
        "sessionIdType": "customKey",
        "contextWindowLength": 20
      },
      "typeVersion": 1.2
    },
    {
      "id": "tool-knowledge-base",
      "name": "Knowledge Base RAG Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [1600, 460],
      "parameters": {
        "name": "query_knowledge_base",
        "description": "Search the clinic's knowledge base for information about treatments (Tirzepatide, Mounjaro), methodology, FAQ, pricing policies, compliance (LGPD), and institutional information. Use for any questions about the clinic's services, protocols, or policies.",
        "topK": 4
      },
      "typeVersion": 1
    },
    {
      "id": "qdrant-vector-store",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [1600, 640],
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "clinic_knowledge_base",
          "mode": "list"
        },
        "options": {}
      },
      "credentials": {
        "qdrantApi": {
          "id": "qdrant-creds",
          "name": "Qdrant"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "embeddings-openai",
      "name": "OpenAI Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [1740, 640],
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "openai-creds",
          "name": "OpenAI"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "openai-model-rag",
      "name": "OpenAI Chat Model (RAG)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [1880, 640],
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "openai-creds",
          "name": "OpenAI"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "send-telegram-response",
      "name": "Send Telegram Response",
      "type": "n8n-nodes-base.telegram",
      "position": [1560, 240],
      "parameters": {
        "text": "={{ $json.output }}",
        "chatId": "={{ $('Prepare Context with Data').item.json.chatId }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "Telegram Bot"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "reply-unauthorized",
      "name": "Reply Unauthorized",
      "type": "n8n-nodes-base.telegram",
      "position": [660, 440],
      "parameters": {
        "text": "Desculpe, voce nao tem autorizacao para usar este bot. Entre em contato com o administrador.",
        "chatId": "={{ $json.message.chat.id }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "Telegram Bot"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "reply-unsupported",
      "name": "Reply Unsupported Type",
      "type": "n8n-nodes-base.telegram",
      "position": [880, 520],
      "parameters": {
        "text": "No momento, consigo processar apenas mensagens de texto. Por favor, envie sua pergunta em texto.",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "Telegram Bot"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "sticky-note-overview",
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [120, 60],
      "parameters": {
        "color": 7,
        "width": 600,
        "height": 300,
        "content": "## Yara - Executive Assistant AI Agent (Consolidated)\n\nYara is a Telegram-based AI assistant for clinic management.\n\n### Architecture (Single Workflow)\nThis workflow consolidates all Yara functionality:\n1. **Pre-fetches** patient data and check-in logs on each message\n2. **Injects** data directly into AI context\n3. **Uses RAG** for knowledge base queries only\n\n### Features:\n- **Telegram Communication** - Chat with management team\n- **Real-time Data** - Patient and check-in data fetched per request\n- **Analytics** - Pre-calculated summaries and patterns\n- **Knowledge Base** - RAG access to clinic information\n- **Memory** - 20-message conversation context\n\n### No Sub-workflows Required!\nPatient queries and check-in analysis are handled inline.\n\n### Required Credentials:\nTelegram Bot, Anthropic, OpenAI, Qdrant, Google Sheets OAuth\n\n### Required Environment Variables:\n- TELEGRAM_CHAT_ID\n- YARA_AUTHORIZED_USER_ID\n- PATIENT_SHEET_ID"
      },
      "typeVersion": 1
    },
    {
      "id": "sticky-note-data-flow",
      "name": "Data Flow Info",
      "type": "n8n-nodes-base.stickyNote",
      "position": [780, 60],
      "parameters": {
        "color": 5,
        "width": 300,
        "height": 80,
        "content": "### Data Pre-fetch\nPatient data and check-in logs are fetched in parallel and merged into the AI context."
      },
      "typeVersion": 1
    },
    {
      "id": "sticky-note-auth",
      "name": "Authorization Info",
      "type": "n8n-nodes-base.stickyNote",
      "position": [340, 540],
      "parameters": {
        "color": 3,
        "width": 320,
        "height": 120,
        "content": "### Authorization Check\n\nOnly authorized users can interact with Yara:\n- TELEGRAM_CHAT_ID (group/channel)\n- YARA_AUTHORIZED_USER_ID (individual user)"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check Authorized User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Authorized User": {
      "main": [
        [
          {
            "node": "Handle Message Type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Message Type": {
      "main": [
        [
          {
            "node": "Get All Patients",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Check-in Logs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Unsupported Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Patients": {
      "main": [
        [
          {
            "node": "Prepare Context with Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Check-in Logs": {
      "main": [
        [
          {
            "node": "Prepare Context with Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context with Data": {
      "main": [
        [
          {
            "node": "Yara AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yara AI Agent": {
      "main": [
        [
          {
            "node": "Send Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Haiku 4.5": {
      "ai_languageModel": [
        [
          {
            "node": "Yara AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Yara AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base RAG Tool": {
      "ai_tool": [
        [
          {
            "node": "Yara AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Knowledge Base RAG Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model (RAG)": {
      "ai_languageModel": [
        [
          {
            "node": "Knowledge Base RAG Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Yara",
      "id": "20"
    },
    {
      "name": "Telegram",
      "id": "21"
    },
    {
      "name": "AI Agent",
      "id": "3"
    },
    {
      "name": "RAG",
      "id": "4"
    },
    {
      "name": "Executive Assistant",
      "id": "22"
    },
    {
      "name": "Analytics",
      "id": "23"
    }
  ],
  "pinData": {}
}
