workflows/yara-fetch-patients.json
{
  "name": "Yara - Fetch Patients (Sub-workflow)",
  "meta": {
    "instanceId": "yara-fetch-patients-subworkflow"
  },
  "nodes": [
    {
      "id": "workflow-trigger",
      "name": "When Called by Yara",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [220, 340],
      "parameters": {},
      "typeVersion": 1.1
    },
    {
      "id": "parse-input",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "position": [440, 340],
      "parameters": {
        "jsCode": "// Parse input from Yara\nconst input = $input.first().json;\nconst searchType = input.search_type || 'all';\nconst patientName = input.patient_name || '';\n\nreturn {\n  json: {\n    searchType,\n    patientName\n  }\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "get-all-patients",
      "name": "Get All Patients",
      "type": "n8n-nodes-base.googleSheets",
      "position": [660, 340],
      "parameters": {
        "operation": "read",
        "sheetName": {
          "__rl": true,
          "value": "Patients",
          "mode": "list"
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "DEFAULT"
            }
          }
        },
        "documentId": {
          "__rl": true,
          "value": "={{ $env.PATIENT_SHEET_ID }}",
          "mode": "id"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-creds",
          "name": "Google Sheets OAuth"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "filter-and-format",
      "name": "Filter and Format Results",
      "type": "n8n-nodes-base.code",
      "position": [880, 340],
      "parameters": {
        "jsCode": "// Filter and format patient data\nconst patients = $input.all().map(item => item.json);\nconst searchType = $('Parse Input').first().json.searchType;\nconst patientName = $('Parse Input').first().json.patientName;\n\nlet filteredPatients = patients;\n\n// Filter by name if specific search\nif (searchType === 'specific' && patientName) {\n  const searchName = patientName.toLowerCase();\n  filteredPatients = patients.filter(p => \n    p.NAME && p.NAME.toLowerCase().includes(searchName)\n  );\n}\n\n// Format the response\nif (filteredPatients.length === 0) {\n  return {\n    json: {\n      success: false,\n      message: `Nenhum paciente encontrado${searchType === 'specific' ? ` com o nome \"${patientName}\"` : ''}.`,\n      data: []\n    }\n  };\n}\n\n// Calculate analytics\nconst activePatients = filteredPatients.filter(p => parseInt(p.REMAINING_WEEKS) > 0);\nconst completedPatients = filteredPatients.filter(p => p.STATUS === 'completed');\nconst needsRenewal = filteredPatients.filter(p => parseInt(p.REMAINING_WEEKS) <= 2 && parseInt(p.REMAINING_WEEKS) > 0);\n\n// Format patient data\nconst formattedPatients = filteredPatients.map(p => ({\n  nome: p.NAME,\n  telefone: p.PHONE,\n  dataInicio: p.STARTING_DATE,\n  semanasContratadas: p.TOTAL_WEEKS_CONTRACTED,\n  semanasRestantes: p.REMAINING_WEEKS,\n  doseAtual: p.CURRENT_DOSE,\n  metodoPagamento: p.PAYMENT_METHOD,\n  ultimoPagamento: p.LAST_PAYMENT,\n  observacoes: p.NOTES,\n  status: p.STATUS || 'active'\n}));\n\nreturn {\n  json: {\n    success: true,\n    message: searchType === 'specific' \n      ? `Encontrado(s) ${filteredPatients.length} paciente(s) com nome \"${patientName}\".`\n      : `Total de ${filteredPatients.length} pacientes no sistema.`,\n    resumo: {\n      totalPacientes: filteredPatients.length,\n      pacientesAtivos: activePatients.length,\n      tratamentosConcluidos: completedPatients.length,\n      precisamRenovacao: needsRenewal.length\n    },\n    pacientes: formattedPatients\n  }\n};"
      },
      "typeVersion": 2
    }
  ],
  "connections": {
    "When Called by Yara": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Get All Patients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Patients": {
      "main": [
        [
          {
            "node": "Filter and Format Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Yara",
      "id": "20"
    },
    {
      "name": "Sub-workflow",
      "id": "24"
    }
  ],
  "pinData": {}
}
