workflows/yara-fetch-checkin-logs.json
{
  "name": "Yara - Fetch Check-in Logs (Sub-workflow)",
  "meta": {
    "instanceId": "yara-fetch-checkins-subworkflow"
  },
  "nodes": [
    {
      "id": "workflow-trigger",
      "name": "When Called by Yara",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [220, 340],
      "parameters": {},
      "typeVersion": 1.1
    },
    {
      "id": "parse-input",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "position": [440, 340],
      "parameters": {
        "jsCode": "// Parse input from Yara\nconst input = $input.first().json;\nconst searchType = input.search_type || 'all';\nconst patientName = input.patient_name || '';\n\nreturn {\n  json: {\n    searchType,\n    patientName\n  }\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "get-checkin-logs",
      "name": "Get Check-in Logs",
      "type": "n8n-nodes-base.googleSheets",
      "position": [660, 340],
      "parameters": {
        "operation": "read",
        "sheetName": {
          "__rl": true,
          "value": "CheckInLog",
          "mode": "list"
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "DEFAULT"
            }
          }
        },
        "documentId": {
          "__rl": true,
          "value": "={{ $env.PATIENT_SHEET_ID }}",
          "mode": "id"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-creds",
          "name": "Google Sheets OAuth"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "filter-and-analyze",
      "name": "Filter and Analyze Logs",
      "type": "n8n-nodes-base.code",
      "position": [880, 340],
      "parameters": {
        "jsCode": "// Filter, analyze and format check-in logs\nconst logs = $input.all().map(item => item.json);\nconst searchType = $('Parse Input').first().json.searchType;\nconst patientName = $('Parse Input').first().json.patientName;\n\nlet filteredLogs = logs;\n\n// Filter by type\nif (searchType === 'patient' && patientName) {\n  const searchName = patientName.toLowerCase();\n  filteredLogs = logs.filter(log => \n    log.PATIENT_NAME && log.PATIENT_NAME.toLowerCase().includes(searchName)\n  );\n} else if (searchType === 'followup') {\n  filteredLogs = logs.filter(log => \n    log.FOLLOW_UP_NEEDED === 'YES'\n  );\n}\n\n// Format response based on empty results\nif (filteredLogs.length === 0) {\n  let message = 'Nenhum registro de check-in encontrado';\n  if (searchType === 'patient') message += ` para o paciente \"${patientName}\"`;\n  if (searchType === 'followup') message += ' que necessite de follow-up';\n  \n  return {\n    json: {\n      success: false,\n      message: message + '.',\n      data: []\n    }\n  };\n}\n\n// Analyze side effects\nconst sideEffectsMap = {};\nconst sideEffectLogs = filteredLogs.filter(log => log.SIDE_EFFECTS_REPORTED && log.SIDE_EFFECTS_REPORTED.trim() !== '');\n\nsideEffectLogs.forEach(log => {\n  const effects = log.SIDE_EFFECTS_REPORTED.toLowerCase().split(',').map(e => e.trim());\n  effects.forEach(effect => {\n    if (effect) {\n      sideEffectsMap[effect] = (sideEffectsMap[effect] || 0) + 1;\n    }\n  });\n});\n\n// Sort side effects by frequency\nconst sortedSideEffects = Object.entries(sideEffectsMap)\n  .sort((a, b) => b[1] - a[1])\n  .map(([effect, count]) => ({ efeitoColateral: effect, ocorrencias: count }));\n\n// Calculate response rate\nconst sentLogs = filteredLogs.filter(log => log.STATUS === 'sent');\nconst responseLogs = filteredLogs.filter(log => log.STATUS === 'response_received');\nconst responseRate = filteredLogs.length > 0 \n  ? ((responseLogs.length / filteredLogs.length) * 100).toFixed(1)\n  : 0;\n\n// Follow-up needed count\nconst followUpNeeded = filteredLogs.filter(log => log.FOLLOW_UP_NEEDED === 'YES');\n\n// Format logs (limit to most recent 20 for readability)\nconst recentLogs = filteredLogs\n  .sort((a, b) => new Date(b.DATE) - new Date(a.DATE))\n  .slice(0, 20)\n  .map(log => ({\n    data: log.DATE,\n    paciente: log.PATIENT_NAME,\n    semana: log.WEEK_NUMBER,\n    dose: log.DOSE_AT_CHECKIN,\n    semanasRestantes: log.REMAINING_WEEKS,\n    status: log.STATUS,\n    resposta: log.RESPONSE || 'Sem resposta',\n    efeitosColaterais: log.SIDE_EFFECTS_REPORTED || 'Nenhum',\n    followUp: log.FOLLOW_UP_NEEDED\n  }));\n\nreturn {\n  json: {\n    success: true,\n    message: `Encontrados ${filteredLogs.length} registros de check-in${searchType === 'patient' ? ` para \"${patientName}\"` : ''}${searchType === 'followup' ? ' que necessitam follow-up' : ''}.`,\n    analise: {\n      totalRegistros: filteredLogs.length,\n      checkInEnviados: sentLogs.length,\n      respostasRecebidas: responseLogs.length,\n      taxaResposta: `${responseRate}%`,\n      followUpPendente: followUpNeeded.length,\n      efeitosColateraisMaisFrequentes: sortedSideEffects.slice(0, 5)\n    },\n    registrosRecentes: recentLogs\n  }\n};"
      },
      "typeVersion": 2
    }
  ],
  "connections": {
    "When Called by Yara": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Get Check-in Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Check-in Logs": {
      "main": [
        [
          {
            "node": "Filter and Analyze Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Yara",
      "id": "20"
    },
    {
      "name": "Sub-workflow",
      "id": "24"
    }
  ],
  "pinData": {}
}
